[2020-04-18 13:14] beerisgood opened #5 "Increase actually version-string size on homepage"
On your website, the version string is very small for me:
<img width="1086" alt="version" src="https://user-images.githubusercontent.com/9625159/79638634-dbb69c00-8186-11ea-87ba-a8f3f7b617e0.png">

[2020-04-26 10:54] undergroundwires commented on #5
Thanks for the feedback @beerisgood  ! I like your attention to details :) Versioning now is a manual process, I'm actually experimenting with automating versioning and also some improvements in deployment. I'll fix the issue & make text bigger and do the automation improvements soon.

[2020-05-24 22:46] undergroundwires commented on #5
Hi @beerisgood. I was gonna do some little updates but they became bigger than I expected.. 🤭

During this time I've created some new CI/CD tools [aws-static-site-with-cd](https://github.com/undergroundwires/aws-static-site-with-cd) and [bump-everywhere](https://github.com/undergroundwires/bump-everywhere) for automating this repo in a best way.

Now that versioning and many other things are autom

[2020-05-25 10:38] beerisgood commented on #5
Looks good to me

[2020-05-25 10:38] #5 closed

[2020-06-12 16:36] Disk2019 opened #10 "Win10 May 2020 Update"
First of all i want to thank you Brother for Your Script which is awesome & does all the tweaks for telemetery as well as debloating online Win10.
Since May 2020 Update M$ has changed some store apps name like cortana & many more.
Please update your script to fully support May 2020 Update of Win 10.

[2020-06-13 09:32] Disk2019 commented on #10
Brother i have found errors in your script where HKU registry values are found which will only work if script will first load ntuser.dat into registry to apply the tweak but theres nothing like that hence failed to tweak those registry values.
then script have to unload the same after applied hku tweaks.
i hope it will be resolved in your next update as well.

[2020-06-13 09:38] Disk2019 commented on #10
Brother please do update your script as well to enable Dism.exe /online /Cleanup-Image /StartComponentCleanup /ResetBase via registry tweak into your script as it is disabled by default in win10.

[2020-06-13 21:46] undergroundwires commented on #10
Hi @Disk2019 , thank you for your kind words & glad to hear some one else finding this tool useful. Thanks for the constructive feedback as well 🙏 Should  fix them all.

Let's take one by one:

Thanks for the update 👍 I'll take look into May 2020 update when I have time to adopt appx uninstalls.

That's some gold worth bug report. 👏 Thanks.. Can we just change "HKU\DefaultUser" lines to "HKCU" ins

[2020-06-13 21:46] undergroundwires commented on #10
Hi @Disk2019 , thank you for your kind words & glad to hear some one else finding this tool useful. Thanks for the constructive feedback as well 🙏 Should  fix them all.

Let's take one by one:

Thanks for the update 👍 I'll take look into May 2020 update when I have time to adopt appx uninstalls.

That's some gold worth bug report. 👏 Thanks.. Can we just change "HKU\DefaultUser" lines to "HKCU" ins

[2020-06-14 07:32] Disk2019 commented on #10
Can we just change "HKU\DefaultUser" lines to "HKCU" instead? Then we don't need to run reg load & reg unload. According to Wikipedia: HKU contains subkeys corresponding to the HKEY_CURRENT_USER keys for each user profile actively loaded on the machine. So we can have simpler convention with just having sticking to HKEY_CURRENT_USER e.g. HKCU? What do you think about that?

Reply : Brother i think

[2020-06-16 06:58] Disk2019 commented on #10
Brother i have updated dism resetbase tweak on line 271 as per suggested by you as well as updated HKU default user values to correct HKCU value so that loading & unloading of ntuser.dat isnt used as well as removed last experimental tweak which doesnt do anything rather first unload the HKU default user hive which is already loaded thern load it as its incorrect way i found. Kindly cross check my

[2020-06-19 20:58] undergroundwires commented on #10
@Disk2019 bro thank you for all of your contributions really. One (#12) of them got through and should be deployed on production soon (I noticed an issue with deployment, working on it now). Scripts, fixes and the logic looks great. Just there are some indentation issues in the file as I commented #13  and #11 .

Congratulations by the way as being the first code contributor in the project after m

[2020-06-29 12:44] undergroundwires opened #14 "Deployment does not work from forked repository"
The problem is that [deploy.yaml](https://github.com/undergroundwires/privacy.sexy/blob/4a91e8ccd8a707bc6bea34ee28cff7fa4f66ee2f/.github/workflows/bump-and-release.yaml) depends on a secret that cannot be read when it's triggered by PR.

However we need the secret there otherwise creating release does not trigger AWS deployment (as [documented](https://github.community/t5/GitHub-Actions/Github-Act

[2020-06-29 14:18] undergroundwires commented on #14
Maintainer needs to push tags manually to get this working. Updated documentation.

[2020-06-29 14:18] #14 closed

[2020-06-29 14:24] undergroundwires commented on #10
@Disk2019 I fixed the issues and merged the changes manually. I also solved the the deployment problem I mentioned (#14) and they are all deployed to production now. Feel free to do more changes or close the issue if you feel like we're done.

[2020-06-29 14:33] undergroundwires commented on #10
@Disk2019 I fixed the issues and merged the changes manually. I also solved the the deployment problem I mentioned (#14) and they are all deployed to production now. Here are the [changelogs](
https://github.com/undergroundwires/privacy.sexy/releases/tag/0.4.6).

Happy to add some new useful tweaks & fix problematic ones including `HKU` stuff.. We have not resolved the issue with May 2020 update t

[2020-06-29 14:36] undergroundwires commented on #10
@Disk2019 I fixed the issues and merged the changes manually. I also solved the the deployment problem I mentioned (#14) and they are all deployed to production now. Here are the changelogs.

Happy to add some new useful tweaks & fix problematic ones including HKU stuff.. We have not resolved the issue with May 2020 update though. The documentation I used to get app names for scripts were taken [f

[2020-06-29 17:07] #10 closed

[2020-07-05 14:09] undergroundwires opened #16 "Add more scripts"
Based on [comment](https://github.com/undergroundwires/privacy.sexy/pull/15#issuecomment-651606924) in #15

- Do not let apps accesss my name, picture, and other account info
  - `reg add "HKCU\SOFTWARE\Microsoft\Windows\CurrentVersion\DeviceAccess\Global\{C1D23ACC-752B-43E5-8448-8D0E519CD6D6}" /t REG_SZ /v "Value" /d DENY /f`
- Do not let apps access my calendar
  - `reg add "HKCU\SOFTWARE\Micros

[2020-07-05 14:34] undergroundwires opened #18 "Low severity vulnerability by npm"
Security checks are failing because `npm audit`  warns about `Prototype Pollution` in `lodash`. It has been  mentioned in lodash/lodash#4836 and resolved in lodash/lodash#4759, just waiting for a new npm publish for the package, it can be tracked from lodash/lodash#4837.

[2020-07-06 10:10] Disk2019 commented on #16
Dear Brother i have hundreds of reg files & i am working on privacy script downloaded from your domain to make it All in One Debloat , Privacy & Telemetry Script accroding to my needs for 100 percent debloated private & hardend win10 plus which will work as $OEM$ setupcomplete cmd method too for clean win10 installation in a private environment.

One more request to be taken under review :

:: ---

[2020-07-09 10:57] Disk2019 commented on #16
Remove Default Apps Associations :
dism /online /Remove-DefaultAppAssociations

:: ----------------------------------------------------------
:: ------------------Remove Capabilities---------------------
:: ----------------------------------------------------------
echo --- Remove Unwanted Capabilities
dism /online /Remove-Capability /CapabilityName:App.StepsRecorder~~~~0.0.1.0 /NoRestart
dism /on

[2020-07-10 16:35] undergroundwires commented on #16
I also use simplewall. It's a pretty nice GUI for Windows networking rules.

Calling `sc stop` before `sc config` is pretty good idea. So I added that all lines with `sc config` in #
a830173 😎 I'm working on adding rest of the stuff you posted here.

I'm happy that you're happy and it helped someone else too 😃 You've been the biggest contributor here after me so thanks, anyone looking at git histo

[2020-07-10 16:38] undergroundwires commented on #16
I also use simplewall. It's a pretty nice GUI for Windows networking rules.

Calling `sc stop` before `sc config` is pretty good idea. So I added that all lines with `sc config` in #
a830173 😎 I'm working on adding rest of the stuff you posted here.

I'm happy that you're happy and it helped someone else too 😃 You've been the biggest contributor here after me so thanks, anyone looking at git histo

[2020-07-10 17:30] undergroundwires commented on #16
With #3edc6a8, I renamed "uninstall apps" category to "remove bloatware" & added:

  - Disable capabilities & features on demand (all of the possible ones & your code excluding `Hello.Face.18967`, `Hello.Face.Migration.18967` as they appear to be obsolute )
  - Remove Onedrive & All Traces (your code)
  - Disable built-in Windows features (your code + some more)

Awesome recommendations, very cool

[2020-07-10 17:53] Disk2019 commented on #16
brother Add Extract All for MSI Package and Install Cab Files are added to contxt menu so that when somebody have a msi package & he or she dont want to install it rather want to extract its files to a directory then he or she will chhose that msi package right click in it & extract will apper there when he or she will click on extract the msi package will be extracted to a new directory at same p

[2020-07-10 18:22] Disk2019 commented on #16
Brother one humble request to please remove me from contributor list . i will be so much thankfull to you . i am requesting this cuz if somebody from my official department will somehow come to know that i am working somewhere else which is not related to my job then it will be difficult for me to get out of that situation.  i hope you will understand my request.

[2020-07-10 18:26] Disk2019 commented on #16
please update typo mistake :
reg add HKLM\SOFTWARE\Microsoft\EdgeUpdate /v DoNotUpdateToEdgeWithChromium /t REG_DWORD /d 1 /f

/f must be there in last to force reg tweak be merged into hive.

[2020-07-10 22:56] undergroundwires commented on #16
Fixed it, thank you for reviewing and finding out! Awesome 🕺🏿

You appear [here](https://github.com/undergroundwires/privacy.sexy/graphs/contributors), it's based on `git` history. When we do pull requests etc. your name appear.

I think it's great that you contribute in a open-source project and the department should be happy to have someone with open-source background. There's much to learn when

[2020-07-11 01:02] undergroundwires commented on #16
This one forces start of DPS service which might be never running (stopped/disabled by the user). So I added check if it's running, and stopping & starting it only if it was running.

[code]

[2020-07-11 08:58] Disk2019 commented on #16
Brother i am unknown to "electron" learning a lot from you . thanks a lot for being there to guide me level best so that i will learn more & more under your guidance. thanks once again. you are a very kind hearted person & great by nature. i respect you heartly.

[2020-07-11 14:58] undergroundwires commented on #16
I've gone through everything. There are some golden tweaks & gems, thank you a lot again for collecting everything. I'm also learning a lot from you!

# Added

| Script | Category |
| ---------- | ------ |
| Clear Windows Product Key from Registry  | Privacy cleanup |
| Turn hibernate off to disable sleep for quick start | UI for privacy |
| Disable Reserved Storage | Advanced settings |
| Disable

[2020-07-11 15:14] undergroundwires commented on #16
I made a new release. So changes are now up in https://privacy.sexy , you can see all of the changes in same place [here](https://github.com/undergroundwires/privacy.sexy/releases/tag/0.4.8). I appreciate your feedback when you have time to look at them 🍻

When I was checking active services I also realized that Microsoft started to pop up services with random strings appended to make it harder to

[2020-07-11 18:34] Disk2019 commented on #16
Brother i know about sc query instaed this cmd will be usefull & will save all services state to dektop in a txt format :

sc query state= all>%UserProfile%\Desktop\Services.txt
There must not be space after state . Thanks a lot . I am finished requesting all my suggestions .

Regards,
[ Disk2019 ]
Associate Member @ Anon Ops India.

[2020-07-11 18:48] undergroundwires commented on #16
Thanks for everything @Disk2019 , I played around making the application desktop app and it's much easier than I thought. I will do it as next big step when I have time. Your help was great, and much appreciated, you're more than welcome if you come up with something, just create a new issue when you feel like it. 🙏🏿🍻

[2020-07-11 18:48] #16 closed

[2020-07-12 14:20] Disk2019 commented on #16
Current User Policy Reg Tweak.
I have seen that script only apply group policy reg tweaks to local machine but not the current user. so i am uploading my own group policy reg tweaks for current user.
[CurrentUserPolicy.reg.txt](https://github.com/undergroundwires/privacy.sexy/files/4908634/CurrentUserPolicy.reg.txt)

[2020-07-12 14:27] Disk2019 commented on #16
Plus one more request to kindly start 0.6  0.7 0.8 0.9 after 0.5.0 is plublished & final version1 might be as executable with all tweaks integerated till that date.
hope it will have all tweaks in form of a on off switch like is in oo software shutup app ,

[2020-07-13 12:45] undergroundwires opened #20 "Desktop app version"
- [x] Use [vue-cli-plugin-electron-builder](https://github.com/nklayman/vue-cli-plugin-electron-builder)
- [x] Automate releasing Windows executable on each GitHub release, see [uploading artifact to existing release](https://github.com/Roang-zero1/github-upload-release-artifacts-action)
- [x] Add link to desktop versions on webpage (can check if running inside electron electron/electron#2288)
- [

[2020-07-13 12:47] undergroundwires commented on #16
Let's do it with next version already. An offline version would be good for better privacy & also I can kill the website and still have the application installable if I get poor 😀. I created #20 , I will prioritize it & look at it in my free time. Would take for a while.

Thanks! Can you check the ones that does not already exists in [application.yml](https://github.com/undergroundwires/privacy.se

[2020-07-13 18:37] Disk2019 commented on #20
Ausm Brother .
Eagerly waiting .
I have done it with f2ko bat to exe with a custom privacy icon & working great . tested that on a clean installed vm guest os win10 2004 build 19041.331.

https://www.f2ko.de/programme/bat-to-exe-converter/

[2020-07-13 22:27] undergroundwires commented on #20
I understand what you want now. I was thinking about leveraging "privacy.sexy" as an executable, not the scripts. But it's probably step 1 because application requires some compute power to be able to generate executables and now it runs totally serverless

 So what you want can be a desktop-version only feature because desktop version will have access to your windows computer to be able to utiliz

[2020-07-14 00:18] undergroundwires commented on #20
I understand what you want now. I was thinking about leveraging "privacy.sexy" as an executable, not the scripts. But it's probably step 1 because application requires some compute power to be able to generate executables and now it runs totally serverless and I couldn't find any browser only way to convert `bat´ to `exe` without calling any windows APIs.

 So what you want can be a desktop-versio

[2020-07-14 00:19] undergroundwires commented on #20
I understand what you want now. I was thinking about leveraging "privacy.sexy" as an executable, not the scripts. But it's probably step 1 because application requires some kind of server to be able to generate executables and now it runs totally serverless and I couldn't find any browser only way to convert `bat´ to `exe` without calling any windows APIs.

So what you want can be a desktop-versio

[2020-07-14 17:18] undergroundwires opened #21 "[Feature] On/off toggle for tweaks"
- [x] Add support in `application.yml`
- [x] Support in the GUI
- [x] Documention, maybe a `CONTRIBUTING.md`
- [x] Reference implementations for some of the scripts

[2020-07-18 09:45] Disk2019 commented on #21
Awesome Brother Great Going.....

[2020-07-19 00:26] undergroundwires commented on #18
new release done and updated `package-lock.json` accordingly.

[2020-07-19 00:26] #18 closed

[2020-07-19 10:51] undergroundwires commented on #21
This is now live with [0.5.0 release](https://github.com/undergroundwires/privacy.sexy/releases/tag/0.5.0) 🎉

It's done simply by adding `revertCode` parameter in existing  scripts. It's done by editing [`application.yaml`](https://github.com/undergroundwires/privacy.sexy/blob/master/src/application/application.yaml) as documented in [`README.md`](https://github.com/undergroundwires/privacy.sexy/b

[2020-07-19 12:55] undergroundwires commented on #20
[auto-updater](https://www.electronjs.org/docs/api/auto-updater) creates a release with the artifacts. [bump-everywhere](https://github.com/undergroundwires/bump-everywhere) also creates a release. We should create a release once maybe from `autoUpdates` and set [bump-everywhere](https://github.com/undergroundwires/bump-everywhere) to not create a release. Blocked by: undergroundwires/bump-everywh

[2020-07-20 14:27] #21 closed

[2020-07-25 19:34] undergroundwires commented on #20
Could not `autoUpdater` to show notifications on Windows 10. So it'll just update the program to the latest after quitting.

Tried following:
- set appId: `setAppUserModelId` or as [build configuration](https://www.electron.build/configuration/configuration) in `vue.config.js`
- set default protocol client: `setAsDefaultProtocolClient`
- import `Notification` through `import { Notification } from

[2020-07-26 01:37] undergroundwires commented on #20
Desktop versions for Windows + Linux + macOS are ready with autoupdates and will be release from now on 🥳. The first release with desktop support is [0.6.0](https://github.com/undergroundwires/privacy.sexy/releases/tag/0.6.0)  🎉

[2020-07-26 12:05] #20 closed

[2020-08-06 05:49] zbigniew59 opened #24 "The selection of keyboards in the taskbar disappears."
This scrypt removes my choice of taskbar keyboards. I use 2 different keyboards and now I have no choice at all.
What is responsible for this?

[2020-08-06 18:38] undergroundwires commented on #24
Hi @zbigniew59 , thanks for the bug report. This is unintended. Let's see what caused it & how we can revert it. I'll need more information to be able to take a closer look into this:

- Can you copy & paste or attach the generated script file that you executed?
- Which version of Windows are you running ? *(Start menu -> enter About your PC -> Post what you see as "version" under "Windows Specifi

[2020-08-10 10:59] mdl052020 commented on #24
@Disk2019 Welcome Again.

Actually what is your POV according to your Ques.
i cant even undertand your query .
is it related to in build software keyboard or a physical hardware keyboard.
or
you are not able to choose input languages in keyboards either physical or in build.

[2020-08-16 01:20] undergroundwires opened #25 "Fix high vulnerability dependency issue (not affecting users)"
Security checks are failing. Waiting for vuejs/vue-cli#5782. There's an active PR at vuejs/vue-cli#5789

[2020-08-22 16:59] Disk2019 opened #26 "Script Updates"
:: ----------------------------------------------------------
:: -----------------Ensure admin privileges------------------
:: ----------------------------------------------------------
REM  --> Run Batch File as Admin  Without Right Click

REM --> If error flag set, we do not have admin.
if '%errorlevel%' NEQ '0' (    echo Requesting administrative privileges...    goto UACPrompt) else ( goto got

[2020-08-22 17:09] Disk2019 opened #27 "Major Part of M$ Telemetry Removal is to Remove All Hidden Scheduled Tasks at Every Boot as they Appear Again n Again on Every Boot."
This is a Reg Tweak . It Does not Work if we convert it to batch to be taken under privacy.sexy script hence i am providing it here as extra. save it as RemoveHiddenScheduledTasks.reg & use it with any program to run it at every boot with prompt.

Windows Registry Editor Version 5.00

[-HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Schedule]

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsof

[2020-08-23 16:45] undergroundwires commented on #26
Hi @Disk2019 , and great to welcome you back and thanks again for your deep analysis of scripts and very constructive feedback.

They look great in the first look. I love the ideas, especially the one with prompting UAC. Great! I'll do more testing and look at them deeper and come with feedback.

[2020-08-23 16:52] undergroundwires commented on #27
Thanks!

I don't understand what the last key adds but as I see the reg file deletes **all of the scheduled tasks**. It looks a bit dangerous as it might include scheduled tasks that privacy-friendly users need as well. It's also important to understand the hex binary in the end which I have no idea what it does.

How about just deleting those tasks that keep coming back instead of all of them? Do

[2020-08-23 17:40] Disk2019 commented on #27
that last SD reg value is just to maintain task cache tree so that if a user go to task scheduler manually via my computer manage then it wont result in any error & show him / her blank task scheduler cache only.

if we dont apply this SD value then task scheduler wil result in error if user go to it in manual way till machine restart.
depends upon user if he or she dont want to apply SD value the

[2020-08-23 17:46] Disk2019 commented on #26
Some of my Forensic Science Lab colleagues told me that capability removal is not working for them as they are on different build so i have done a little change ie removing capabilities via powershell command within the script via common name * .

script changes are as follows :

Powershell -Command "Get-WindowsCapability -Online | Where-Object { $_.CapabilityName -like 'App.StepsRecorder*' } | Re

[2020-08-24 01:07] undergroundwires commented on #26
Very smart. Thanks again and for your friends for making Windows better for everyone 👏 You have been super helpful ensuring good quality everywhere. Btw I also improved OneDrive when you were gone.. Very hard to get rid of it..

If you have more requests please create new issues so we can track progress cleanly and keep this issue for the scripts already mentioned only.

I also started added rever

[2020-08-24 01:13] undergroundwires commented on #27
Awesome, thanks, crystal clear now. Might add it in "Advanced Settings". [This guy](https://msfn.org/board/topic/176193-scheduled-tasks-eliminating-most-is-a-good-thing/?tab=comments#comment-1133664) adds more binary to different trees. Do you think that they are needed? And do you know where they are coming from? I could not find any official or serious documentation about them.

[2020-08-24 01:17] undergroundwires commented on #26
Very smart. Thanks again and for your friends for making Windows better for everyone 👏 You have been super helpful ensuring good quality everywhere. Btw I also improved OneDrive when you were gone.. Very hard to get rid of it..

Let's work with scripts already mentioned in this issue and create new issues for new stuff. This way we can have discussions more clearly and track the work easily 😎

I a

[2020-08-24 08:12] Disk2019 commented on #27
That Guy Noel.C has a Great Knowledge.  he is extra marvelous. He has some excellent work before too on his project : Win10 Re tweaker [ https://win10epicfail.proboards.com/thread/100/interested-participating-tweaker-development-test ]
Brother as its your project you are free to do anything i am only a request maker & nothing else to make your project more n more user friendly .
Please again i rep

[2020-08-24 08:13] #27 closed

[2020-08-24 08:20] Disk2019 commented on #26
Please Remove Wordpad , Notepad & M$Paint from Removal Categories as many users use them . some of my FSL colleagues told me that these removal options must not be there as default checked if a user who is unknown of project will start with direct all options checked on the script at your script generation domain which is privacy.sexy .
mostly users are not aware what the script is doing & they ju

[2020-08-24 08:24] #26 closed

[2020-08-24 16:09] undergroundwires commented on #26
They are not there checked in "Recommended" mode but yes they get deleted on "All" mode. They are not privacy intrusive (as I know) and not bloatware (as many would think). I'll consider removing them.

Have fun working with security. It's my hobby as well 👍 I'd like to see other robocops as contributors as well. It's not a security breach to that but it's only good to share your knowledge to help

[2020-08-24 17:30] Disk2019 commented on #26
thanks for this consideration . I am always happy to work for a good kind hearted person who care for suggestions & requests. any way we can get in touch without this github option so that i will request you everything there . i hope you will get my POV easily now as everything is said in clear words in my previous comment which is deleted by myself for anonymity reason.

[2020-08-25 18:57] Disk2019 commented on #26
Pardone Please : Some of my friends told me that the code to remove capabilities is not showing any operation on there display hence i have done some changes to it so that users will see whats going on via the capabilities removal script.

Code As Follows :

echo ==========================================================
echo ------------------Remove Capabilities---------------------
echo ========

[2020-08-25 23:55] undergroundwires commented on #26
Hi,

Thanks again for stabilizing this library! Your POV is an absolutely perfect use-case for making stuff better here. Social media policies are made for non-technical people generally, not fr people who knows what they're doing.. But I understand it, and thanks for risking it to make everyones OS more secure and private.

I had time to look much deeper into the scripts. I improved those with "👍

[2020-08-25 23:55] undergroundwires commented on #26
You can find me (and my e-mail) at [my personal website](https://erkinekici.com). Feel free to take future stuff from there if you feel more comfortable.

[2020-08-26 08:51] Disk2019 commented on #26
❓ DefaultUser0 seems like an old Windows bug that's been patched.
I don't think that we should fix bugs here, but if you think that it's somehow related to privacy to delete it, why?
https://superuser.com/questions/1152792/what-is-defaultuser0-and-is-it-safe-to-delete

**Answer : If somebody is on LTSC 2019 then DefaultUser0 Account is by default created on Installation as telemetry account.
Hence

[2020-08-26 20:20] undergroundwires commented on #26
- DefaultUser0: `DefaultUser0` tweak is added in privacy cleanup.
- OneDrive: `reg delete "HKCU\Environment" /v "OneDrive" /f` is added.
- Defender settings: Argument that it's hard to get rid of it sounds logical. Script are added under removal of defender.

Excluded those two:
-  `"%ProgramFiles%\Windows Defender\MpCmdRun.exe" -resetplatform`:
- `Set User TEMP to Windows TEMP`

So everything els

[2020-08-26 20:20] undergroundwires commented on #26
After your explanations, I added those:

- DefaultUser0: `DefaultUser0` tweak is added in privacy cleanup.
- OneDrive: `reg delete "HKCU\Environment" /v "OneDrive" /f` is added.
- Defender settings: Argument that it's hard to get rid of it sounds logical. Script are added under removal of defender.

Excluded those two:
-  `"%ProgramFiles%\Windows Defender\MpCmdRun.exe" -resetplatform`:
- `Set User

[2020-08-26 20:23] undergroundwires commented on #26
After your explanations, I added those:

- DefaultUser0: `DefaultUser0` tweak is added in privacy cleanup.
- OneDrive: `reg delete "HKCU\Environment" /v "OneDrive" /f` is added.
- Defender settings: Argument that it's hard to get rid of it sounds logical. Script are added under removal of defender.

They're probably good sysops command but excluded those two as I could not understand the point:
-

[2020-08-27 07:35] Disk2019 commented on #26
Big Thanks to you for creating such an awesome win10 privacy project . its more then awesome.

[2020-08-28 14:48] undergroundwires commented on #25
Fixed by https://github.com/webpack-contrib/copy-webpack-plugin/releases/tag/v5.1.2

[2020-08-28 14:48] #25 closed

[2020-08-30 18:01] Fs00 opened #28 ""Configure Defender" section is under "Disable Visual Studio data collection" 🤔"
Just noticed a little issue:
![Wrong category](https://user-images.githubusercontent.com/30041551/91665701-e3545d00-eaf7-11ea-879f-39a70711dd2d.png)

Probably that _"Configure Windows Defender"_ wasn't meant to be under _"Disable Visual Studio data collection"_ 😜

[2020-09-01 08:47] Disk2019 commented on #26
Block CCleaner & Malwarebytes Calling Home for Telemetry

echo ==================================================
echo ----- Block CCleaner Calling Home Via hosts ------
echo ==================================================
::Block IPv4 CCleaner Calling Home 100% Working by Anon Ops India
echo 127.0.0.1 avast.com >> %WinDir%\system32\drivers\etc\hosts
echo 127.0.0.1 www.avast.com >> %WinDir%\sys

[2020-09-01 17:41] undergroundwires commented on #26
@Disk2019 thanks for following the development, some small touches left and I'll release them. Host file editing was something I was considering but did not have time to add.. I agree that we should add them as well. However there are two issues we should consider:
1. Re-running the script should be safe. If we always add to hosts file then we create duplicate lines. To avoid this we need to searc

[2020-09-01 18:00] undergroundwires commented on #28
Hi @Fs00 👋 Thanks! Nice observation. Dunno how the f^$k it ended up there haha.

[2020-09-02 13:13] Disk2019 commented on #27
Yes he is absolutely correct as that msftmonitor task is needed for ctfmon to work properly associated with tabletinputservice.
major role of this task is to maintain ctfmon running in background for win10 UI settings apps to work properly with hardware keyboard .

[2020-09-02 13:15] Disk2019 commented on #26
we can use [if] command function to cross check whether entry is already there or not.

[2020-09-02 17:20] undergroundwires commented on #28
Thanks again, fix is on production with [0.7.0](https://github.com/undergroundwires/privacy.sexy/releases/tag/0.7.0), release 🌟

[2020-09-02 17:40] Fs00 commented on #28
Great! I think this can now be closed.

[2020-09-02 17:40] #28 closed

[2020-09-02 23:15] undergroundwires commented on #26
Good idea. A oneliner would be great as we'll repeat this many times. Also we could use the same `if` to delete the entries.

One other challenge is the maintenance of the domains. Actively maintaining those and ensuring that they don't break stuff and are up-to-date is very time consuming and should not be the core focus for us. Maybe we can use a third party list such as https://github.com/supma

[2020-09-06 12:19] MPeti1 opened #30 "Delete default0 ghost telemetry user"
There the script in the "Privacy cleanup" folder named "Delete default0 ghost telemetry user". I've taken a look at what it does, and for some reason I wanted to list the users on my system so I ran `net user`. What I see is that there's no `defaultuser0`, but there is a `defaultuser1`.

Could the 2 be related, or is `defaultuser1` something different?

[2020-09-06 12:23] MPeti1 commented on #30
Also, why do you think that it's for telemetry? Wasn't able to find anything with a quick search

[2020-09-06 15:14] undergroundwires commented on #30
Hi @MPeti1 , thanks for starting the discussion and your attention to the script that I was really not sure of.

It's a controversial user discussed often in context of a backdoor in Windows 10. It's is created by an update and there has never been any official information of its purpose/reason of creation from Microsoft. It gives access to your computer without your control / access so I decided

[2020-09-06 19:55] undergroundwires commented on #26
Another alternative is to download and use https://github.com/crazy-max/WindowsSpyBlocker through a script.

[2020-09-07 08:13] MPeti1 commented on #30
Thank you! It now makes sense I think.

I've read a bit, and it seems to be an error that hasn't been fixed for a long time.
The defaultuser0 account has this very long SID: `S-1-15-3-1024-1065365936-1281604716-3511738428-1654721687-432734479-3232135806-4053264122-3456934681`
It (that's invalid to be for a user, if I understand correctly) is actually the SID for an AppContainer capability, `readRe

[2020-09-08 18:07] undergroundwires commented on #30
I actually have no idea. But asked the question to the forensic ghost friend. Forwarding is response:

- `defaultuser1` account is not created by default in any scenario
- its user heavily tweaked OS with many tools that's why its created
- if user wants to take a close look then he must be sure which tool has done that
- possible that its an account which will forward logs of user to an attacker

[2020-09-13 18:05] pacoito123 opened #31 "Missing line breaks in 'Spectre variant 2 and meltdown (own OS)'"
I don't think this script is supposed to run on a single line, as it exits out of the entire Command Prompt when run.

This is the default generated script **(as of v0.7.3)**:
[code]
This is what works for me:
[code]

Simple fix, but hope this helps :^).

[2020-09-14 14:46] undergroundwires commented on #31
Hi 👋, it actually got broken in 0.7.3, hats off for detecting it so quick and thanks for the feedback with a constructive solution. It should be fixed now in 0.7.4 that's up.

[2020-09-14 14:47] undergroundwires commented on #31
Hi 👋, it actually got broken in 0.7.3 (the day before), hats off for detecting it so quick and thanks for the feedback with a constructive solution. It should be fixed now in [0.7.4](https://github.com/undergroundwires/privacy.sexy/releases/tag/0.7.4) that's up.

[2020-09-14 22:44] #31 closed

[2020-09-16 16:58] undergroundwires commented on #24
Closing this as there has been no response in a month.

[2020-09-23 22:18] please55 opened #33 "Revert Changes"
Looks really promising.

Trying this out for the first time and its not clear to me how to revert changes made.

Lets say I make a custom set of changes. 3 months later, I need to revert a few.  How does one painlessly recreate the same selection set so to not miss any previous changes and revert as needed?

Could there be an upload or perhaps a code that could be entered that would bring up a pre

[2020-10-15 17:00] sopla4ever opened #35 "build in Disk Cleanup"
Can you add option to clean Previous Windows instalations?

[2020-10-17 18:33] undergroundwires commented on #33
Hi @please55 👋, thanks for the feature request and trying out the software. Sorry for coming back late, I had a little vacation before the winter 😎.

I agree that we need this feature.

As you already realized, we do not have no automatic (painless) way to restore to any user state. I was considering adding some kind of "save" option and I really love your suggested solution: parsing the generated

[2020-10-17 18:33] undergroundwires commented on #33
Hi @please55 👋, thanks for the feature request and trying out the software. Sorry for coming back late, I had a little vacation before the winter 😎.

I agree that we need this feature.

As you already realized, we do not have no automatic (painless) way to restore to any user state. I was considering adding some kind of "save" option and I really love your suggested solution: parsing the generated

[2020-10-17 18:34] undergroundwires commented on #33
Hi @please55 👋, thanks for the feature request and trying out the software. Sorry for coming back late, I had a little vacation before the winter 😎.

I agree that we need this feature.

As you already realized, we do not have no automatic (painless) way to restore to any user state. I was considering adding some kind of "save" option and I really love your suggested solution: parsing the generated

[2020-10-17 18:34] undergroundwires commented on #33
Hi @please55 👋, thanks for the feature request and trying out the software. Sorry for coming back late, I had a little vacation before the winter 😎.

I agree that we need this feature.

As you already realized, we do not have no automatic (painless) way to restore to any user state. I was considering adding some kind of "save" option and I really love your suggested solution: parsing the generated

[2020-10-17 18:36] #30 closed

[2020-10-18 13:56] undergroundwires commented on #35
Hi @sopla4ever, thanks for the suggestion. Would deleting `Windows.old` be sufficient? Thinking about something like:

[code]

[2020-10-18 13:57] undergroundwires commented on #35
Hi @sopla4ever, thanks for the suggestion. Would deleting `Windows.old` be sufficient? Thinking about something like:

[code]

[2020-10-18 13:58] undergroundwires commented on #35
Hi @sopla4ever, thanks for the suggestion. Would deleting `Windows.old` be sufficient? Thinking about something like:

[code]

[2020-10-18 16:28] sopla4ever commented on #35
I thought more about this method:

[code]

[2020-10-18 16:51] sopla4ever commented on #35
**StateFlagsXXXXX** is just parameter with which we start cleanmgr

You can do the same with many registry keys that contain your **StateFlagsXXXXX** DWORD value and clean it with one command "cleanmgr /sagerun:**XXXXX**"
So for full cleaning should add **StateFlagsXXXXX** to all subkeys.

There are following subkeys (tick boxes in gui cleanmgr):
Be carefully **DownloadsFolder is your Downloads**

[2020-10-22 15:01] undergroundwires commented on #35
Thanks for the pretty nice explanation.

I love the idea of using OS-tool instead of reinventing the wheel. It allows reusing existing & tested functionality while minimizing the maintenance.

We can add all of the settings to privacy.sexy as the cleanup increases the privacy. But we need to think more about the implementation.

API design by Microsoft allows too much room for errors.

**1.** Let'

[2020-10-22 15:54] sopla4ever commented on #35
**2.** The XXXXX "number" can be any value from 0 to 65535 so there is little chance of the same value by other scripts. Number 10 was just example.

[2020-10-23 02:08] dennyamarojr opened #37 "Privacy Cleanup Issue [Info]"
Hi @undergroundwires

Recently I discover this amazing program and I'm loving, and I find some issue with the privacy cleanup and I fix the problem by searching in the famous google.com

So the problem are in the Clear Windows Recent Files

The original commands are:
echo --- Clear windows recent files
rd /s /q "%USERPROFILE%\Recent"
rd /s /q "%APPDATA%\Microsoft\Windows\Recent"
del /f /q %APPDATA

[2020-10-24 19:10] undergroundwires commented on #37
Hi @dennyamarojr , you're a community hero! The behavior was irritating me and some others I know as well but no one could detect the underlying issue. Thanks for finding that out and also suggesting a way to fix it.

I think we should remove following lines:

- `rd /s /q "%USERPROFILE%\Recent"`: folder does not exist for me?
- `rd /s /q "%APPDATA%\Microsoft\Windows\Recent"`: folder only contains

[2020-10-24 19:13] undergroundwires commented on #37
Hi @dennyamarojr , you're a community hero! The behavior was irritating me and some others I know as well but no one could detect the underlying issue. Thanks for finding that out and also suggesting a way to fix it, and happy to hear that you liked it ☺️

**1. Remove the lines**

I think we should remove following lines:

- `rd /s /q "%USERPROFILE%\Recent"`: folder does not exist for me?
- `rd /s

[2020-10-24 19:24] sopla4ever opened #38 "Firewall Hardening - LOLBINs as new option"
category: Security improvments
              children:
                -
                    name: Firewall hardening - block LOLBINs
					docs: https://github.com/LOLBAS-Project/LOLBAS
					docs: https://github.com/AndyFul/Hard_Configurator

                    code: |-
						netsh advfirewall firewall add rule name="Privacy.Sexy rule for: appvlp.exe" program="C:\%programfiles%\Microsoft Office\r

[2020-10-25 00:33] dennyamarojr commented on #37
Yeah Definitely has a lot more things to do, I'm noob on creating programs or even powershell scripts, and my computer I can't do too much test but I make my computer to the extreme. I discover a lot of tweaks and with privacy.sexy I discover more and also I'm working in a script to delete chromium browsers (temp files, cookies, caches and everything) so people don't need don't CCleaner or other p

[2020-10-25 12:48] undergroundwires opened #40 "Add macOS support"
- [x] Do necessary refactorings to allow more than one OS
- [x] Add initial scripts / tweaks

[2020-10-25 13:04] undergroundwires opened #41 "Add support for shared functions"
Right now adding repetitive code bloats the application file and makes is hard to maintain. It's clearly visible looking and store tweaks as well, so much repetitive code against DRY principle. Some examples are [removing apps](https://github.com/undergroundwires/privacy.sexy/blob/3785c623f837b182d82fa383dfe7709722a67248/src/application/application.yaml#L2336-L2852), [features](https://github.com/

[2020-10-25 13:33] undergroundwires commented on #38
Hi @sopla4ever , thanks! Another very good suggestion to enforce best practices and cheers for putting an effort into writing this in `yaml` structure, it helps a lot.

I believe we need more granularity here.. I believe we should categorize rules. Like "block telemetry services", "block other windows services" etc. So I'm thinking of something like:

- *(category)* Firewall hardening - block LOLB

[2020-10-26 19:06] sopla4ever opened #43 "Cortana removal on latest builds of Windows"
Cortana removal doesn't work on new builds (i.e. 20241.1005).
I can uninstall it by IObit Uninstaller succesfull.

[2020-10-29 18:01] TrustedPeople opened #44 "I cannot revert most used apps to default"
Hello bro,
after applying your BAT i cannot set "show most used apps" to on state and when im tried configure it using settings app start menu configuration it says "some settings are managed by your organization" and button becomes innactive
Also i tried revert it using guides from internet but these guides doesn't work, button still innactive.

[2020-10-31 22:52] undergroundwires commented on #44
Hi @TrustedPeople , I'm sorry for that. I guess it's `Disable App Launch Tracking` that has caused it. Can you revert it on the GUI and execute the generated code? It should be:
[code]
If it solves the problem but still blocks your manual configuration you can try:
[code]
Please let me know if they solve the problem.
We should probably rename the tweak from `Disable App Launch Tracking` to `Turn o

[2020-10-31 23:21] undergroundwires commented on #38
Hi @sopla4ever , thanks! Another very good suggestion to enforce best practices and cheers for putting an effort into writing this in `yaml` structure, it helps a lot.

I believe we need more granularity here.. I believe we should categorize rules. Like "block telemetry services", "block other windows services" etc. So I'm thinking of something like:

- *(category)* Firewall hardening - block LOLB

[2020-11-02 16:40] dennyamarojr commented on #35
I have the right commands will add into the list, I'm testing a few things like Hardening processes and also make browser more secure, so with time I will update the application.yaml and this option will be available.

[2020-11-02 16:50] dennyamarojr commented on #38
Firewall hardening it's something that I believe will need take sometime due the fact, we need take the right ports, and also programs ports to make the hardening easy for any user. Also needs tests in all the popular software to see if we got any problem or it's OK to use.

Example: Block HTTP port, users will not able to access websites that use HTTP so this might get a lot trouble ,because some

[2020-11-03 01:23] undergroundwires commented on #43
Thanks for the bug report and testing this 🙌

`PowerShell -Command "Get-AppxPackage "Microsoft.549981C3F5F10" | Remove-AppxPackage"` should work on Windows 2004.

I'll add that under "Remove bloatware" > "Uninstall Windows store apps" > "System apps" > "Cortana" > "Cortana app".

It's unfortunately not documented in the [official documentation](https://docs.microsoft.com/en-us/windows/application-

[2020-11-03 21:42] sopla4ever commented on #43
Recently, I haven't had time to look at the code.  The current system base for insider is 2103 aka 21H1.  I will try to reinstall the system in the coming days.  I'll check if this command works there.  I can make an appx list in compilation from branch 2103.

Branch 2009 (20H2) is currently latest public version.  If someone has this branch, please test this.

[2020-11-06 19:52] dennyamarojr commented on #38
Have some time I didn't update the application.yaml and has a reason, I'm testing some configurations and also testing the simplewall (to make the hardening better, sometimes through windows firewall, windows ignore some rules), so I will add the file for simplewall too and the command to download the simplewall through CMD, and the right command to import the configuration in simplewall too :)

[2020-11-19 16:56] undergroundwires commented on #37
The fix is live in latest version [0.8.1](https://github.com/undergroundwires/privacy.sexy/releases/tag/0.8.1)

[2020-12-14 15:24] Marc05 opened #47 "Uninstall feature/capability when disabling it."
Apparently, disabling a Windows feature does not uninstall/remove it from the system; e.g. Windows Media Player
https://www.tenforums.com/tutorials/95101-install-uninstall-windows-media-player-windows-10-a.html

This can be accomplished with the /Remove-Capability parameter for DISM.

[code]

[2020-12-14 15:30] Marc05 commented on #47
This should be implemented to all features that need it, but I don't have the setup to test each listed feature on the project.

[2020-12-18 19:12] mendhak opened #49 "Enhancement - ability to directly link (permalink) to a specific script"
Hello, great project thanks for doing this.

Enhancement idea - Being able to link directly to a specific script would be a very useful way of sharing scripts with other people.  We could just link them to something like `https://privacy.sexy/x/y/z` and they can always see the latest script there.

[2020-12-24 22:40] undergroundwires commented on #44
Closing due to inactivity. Please re-open this if the issue still persists after my comment.

[2020-12-24 22:40] #44 closed

[2020-12-24 23:09] undergroundwires commented on #49
I like this. Let's refine it a little bit more before the implementation.

Do you have any suggestions for naming? Would `privacy.sexy/{script-name}/select` (REST-like) look nice?

And how the UI should look like? Using a share button on right of each category/script? Or could we have a more minimal solution without bloating the UI 🤔

[2020-12-25 21:43] undergroundwires commented on #47
Hi @Marc05 , awesome to see you again and thanks for the suggestion.

I'm sorry but I don't really understand what we should do here. I just refactored those tweaks to call a single function so we can change the behavior [at one place on this line](https://github.com/undergroundwires/privacy.sexy/blob/c4ec6a1445d2fd5eb923c97b54aee01e272e13a8/src/application/application.yaml#L4061).

As you see on

[2020-12-25 22:06] Marc05 commented on #47
Hmm, I don't remember why I thought it was only being removed and not uninstalled. Perhaps because the checkbox text made it sound that way? Either way, the new commit looks good to me.

[2020-12-27 18:01] #37 closed

[2020-12-27 20:52] undergroundwires commented on #49
I was thinking about this and considering a bigger change that'll indirectly allow this.

So we'll have `privacy.sexy/{os}/scripts/{script-name}` for each script using [vue router](https://router.vuejs.org/). It'll be like a WIKI page where `code`, `revertCode` and `docs` are provided. So the URL of each script will be shareable. Page will also a button to generate a file/run on single script leve

[2020-12-27 20:54] undergroundwires commented on #47
[0.8.2](https://github.com/undergroundwires/privacy.sexy/releases/tag/0.8.2) is now live where I also renamed "disable" to "uninstall" to make it sound right way 😊. Feel free to re-open this if there's anything more we can do.

[2020-12-27 20:54] #47 closed

[2020-12-28 00:11] undergroundwires commented on #49
Sounds really good. I'm considering a bigger change that'll indirectly allow this.

We could have `privacy.sexy/{os}/scripts/{script-name}` for each script using [vue router](https://router.vuejs.org/). It'll be like a WIKI page where `code`, `revertCode` and `docs` are provided. So the URL of each script will be shareable. Page will also a button to generate a file/run on single script level.

I'

[2020-12-28 00:11] undergroundwires commented on #49
Sounds really good. I'm considering a bigger change that'll indirectly allow this.

We could have `privacy.sexy/{os}/scripts/{script-name}` for each script using [vue router](https://router.vuejs.org/). It'll be like a WIKI page where `code`, `revertCode` and `docs` are provided. So the URL of each script will be shareable. Page will also a button to generate a file/run on single script level.

I'

[2020-12-31 20:00] cjerrington opened #50 "Enhancement - Export or show list of settings before running"
Since there are a lot of items to choose from, what would it take to make the selection for the "standard, strict, all" methods and show the items checked in a list? The cards are nice but still a lot to look through. Could this also be listed in the batch file we download to show the list of changes then pause for confirmation?

[2021-01-01 22:22] undergroundwires commented on #50
Thanks for the feedback, also for being constructive. I totally agree. I understand that customizing / double checking recommended scripts is not easy and requires a lot of navigation.

A batch script that would prompt for everything would probably be not ideal for most users. So it should be handled during script generation process.  So I'd vote for your first solution approach. If I'd define it

[2021-01-01 22:54] cjerrington commented on #50
I like that idea as well. You could still have headers for the sections but maybe see them in an ul format tree. This list could also only show the items the user selects or have a toggle between chosen and not chosen items.

I wasn't thinking about a confirmation before each task - that would be a lot. However, it might be good to remind users to ensure they have a backup of their data and even s

[2021-01-03 22:21] undergroundwires commented on #50
Good addition. A button on that view that should say "filter by selected | not selected" would be nice on flat mode. Thanks for clarifying a nice user flow and your feedback 👍🏿

Regarding batch confirmation, sorry for misunderstanding. You're right, it's nice and would also protect from running the file by mistake. If more people in the community think batch step is necessary just let me now to gi

[2021-01-03 23:48] undergroundwires commented on #35
I've started looking at it but I read that:

I'm sorry but `cleanmgr` is deprecated and will eventually be deleted 😒

At the end building the functionality upon `cleanmgr` would be dead investment that'd cause a maintainance burden as we know it will eventually be deleted. It would be not trust it anymore to do the right job. Unfortunately Storage sense lack any API that we can call to trigger a c

[2021-01-03 23:48] undergroundwires commented on #35
I've started looking at it but I read that:

I'm sorry but `cleanmgr` is deprecated and will eventually be deleted 😒

At the end building the functionality upon `cleanmgr` would be dead investment that'd cause a maintainance burden as we know it will eventually be deleted. It would be not trust it anymore to do the right job. Unfortunately Storage sense lack any API that we can call to trigger a c

[2021-01-04 05:49] necros2k7 opened #51 "Script runtime errors (win10x64 2004)"
--- XPS Viewer capability
В строке отсутствует завершающий символ: '.
    + CategoryInfo          : ParserError: (:) [], ParentContainsErrorRecordException
    + FullyQualifiedErrorId : TerminatorExpectedAtEndOfString

[2021-01-04 14:01] cjerrington commented on #50
Let me know and I can easily write up the commands for the pause/confirmation at the beginning and enabling the restore point.

[2021-01-04 23:29] undergroundwires commented on #50
Hi. It sounds awesome with some help.

To summarize what's been discussed:

1. Creating system restore point
2. UX to support a flattened view
3. Prompting "Are you sure" with script list

I like all of them but I'd suggest against not sending any PR before multi OS support #40 is done. I heavily refactor the application at this moment (biggest since it's been released) with many changes. After th

[2021-01-05 13:40] necros2k7 opened #52 "0 sized "null" file created after bat run"
subj

[2021-01-05 21:27] undergroundwires commented on #51
Hi, thanks for the report. Both scripts will be improved in next version. I'll release the fixes/improvements in a week or two.

I spun up a VM with x64 windows 2004. I ran both `Windows Security GUI (Sec Health UI)` and `XPS Viewer capability` scripts.

**Capabilities**

I could reproduce the problem for capabilities. It's a bug in the newest version caused by a [second apostrophe typo](https://g

[2021-01-05 22:44] undergroundwires commented on #52
Hi @necros2k7 , thanks again for being active and improving the application. I need more information to be able to answer why. There's no intended behavior to create any file. What file is created? What's its full name? Where is it created?

[2021-01-06 00:14] necros2k7 commented on #51
takeown /f "C:\Windows\SystemApps\Microsoft.Windows.SecHealthUI_cw5n1h2txyewy" /r /d y    - OK
 icacls "C:\Windows\SystemApps\Microsoft.Windows.SecHealthUI_cw5n1h2txyewy"/grant administrators:F /t  -
failed with Unacceptable parameter  "administrators:F"

[2021-01-06 00:16] necros2k7 commented on #52
It`s zero sized file name "null" in directory where bat ran from.

[2021-01-06 14:24] #51 closed

[2021-01-07 01:44] undergroundwires commented on #52
You're right it should be `2>nul` not `2>null`. Thanks 🙏🏿

[2021-01-07 03:32] #52 closed

[2021-01-07 03:37] necros2k7 commented on #40
Android and *nix scripts could be also cool

[2021-01-07 03:51] necros2k7 commented on #35
Hm, stumbled upon start command , can we use it to speedup script execution like some long dism operations in parallel?
If so how can we make it`s window to stay and show it completed OK.

[2021-01-07 22:17] cjerrington commented on #50
I do see your position about the prompting. Especially if someone is selecting and downloading the generated script then I do see where they kinda already know what they're doing and selecting. Also running as a scheduled task or periodically I can see as well that prompting would be an issue. Since this is a single batch file we start to limit ourselves on where to start

We could create a variab

[2021-01-16 06:38] undergroundwires commented on #40
Now this is live 🎉

I agree @necros2k7 . I lack knowledge about those though. Will add Ubuntu somewhere in future though. I would accept PRs for any other OS. It would be as easy as adding a new yaml file in [collections](https://github.com/undergroundwires/privacy.sexy/tree/master/src/application/collections).

[2021-01-16 06:38] #40 closed

[2021-01-16 06:39] undergroundwires commented on #43
It should work now with the latest version. Feel free to create a new issue or reopen this one if it does not work.

[2021-01-16 06:39] #43 closed

[2021-01-17 06:07] undergroundwires opened #53 "Support better way of using PowerShell scripts"
# Summary

Writing PowerShell is  in [windows.yaml](https://github.com/undergroundwires/privacy.sexy/blob/0.9.0/src/application/collections/windows.yaml) not a clean and easy experience. It makes the contributor experience hard. It should be as easy as writing a "normal" powershell without thinking about call to `PowerShell`, escaping and inlining stuff.

# Progress

- [x] Allow functions to be ab

[2021-01-17 06:13] undergroundwires commented on #35
You're right @necros2k7 . It would be sad to run everything with `start` and wait until they're done. 🤔 Unsure how to solve this one. I'm leaving this issue to you guys. I'd approve PRs and a potential solution, but I won't be implementing this.

[2021-01-19 11:00] undergroundwires commented on #50
Thank you a lot for your feedback. I agree with your arguments so we should skip VBS, let's not use it. The PoC looks great. Happy to be receiving contributions from you 🙏🏿

I'm done with most refactorings so feel free to dive deeper into this 😀 It'd be much quicker if you'd take the lead and I can guide you when it's needed. I think a good place to start with is the checking how the [windows.yaml

[2021-01-27 18:09] undergroundwires commented on #35
Cleanmgr.exe makes outbound connections to Microsoft on `20.49.150.241`. Community is suspicious of [its telemetry](https://www.tenforums.com/network-sharing/169409-disk-space-cleanup-manager-making-outbound-network-access.html). Not a good tool that should be used by privacy.sexy. Closing this, and PRs will not be accepted if they do not disable its telemetry somehow.

[2021-01-27 18:09] #35 closed

[2021-01-29 01:31] cjerrington commented on #50
Is there a parameter or data object that already holds the checked values? I think that might help the list idea. Trying to review the code and understand the logic before getting to in-depth.

[2021-01-31 15:02] undergroundwires commented on #50
Yes there's [`ApplicationContext.ts`](https://github.com/undergroundwires/privacy.sexy/blob/35e64de308267e7d789da40a9c56d53de226c207/src/application/Context/ApplicationContext.ts) singleton that holds [`CategoryCollectionState.ts`](https://github.com/undergroundwires/privacy.sexy/blob/35e64de308267e7d789da40a9c56d53de226c207/src/application/Context/State/CategoryCollectionState.ts) per each OS. Th

[2021-01-31 15:11] undergroundwires commented on #50
Yes there's [`ApplicationContext.ts`](https://github.com/undergroundwires/privacy.sexy/blob/35e64de308267e7d789da40a9c56d53de226c207/src/application/Context/ApplicationContext.ts) singleton that holds [`CategoryCollectionState.ts`](https://github.com/undergroundwires/privacy.sexy/blob/35e64de308267e7d789da40a9c56d53de226c207/src/application/Context/State/CategoryCollectionState.ts) per each OS. Th

[2021-02-03 17:12] AdamJel opened #54 "What script disables the night light settings?"
Hello,
I used this script generator to harden privacy on my Win machine. I also tried to remove as much bloatware as possible. I am overall happy except for one thing. The Windows settings of night light is inaccessible.

Do you know, which script could have disabled this feature and what would be his reverse form?

Thank you

[2021-02-04 11:28] undergroundwires commented on #54
Hi, glad to hear that you're overall happy and thanks for the bug report. I can reproduce this. It's unintended. I don't see what's causing it on a quick look 🤔

[2021-02-04 11:48] undergroundwires commented on #54
Hi, glad to hear that you're overall happy and thanks for the bug report. I can reproduce this. It's unintended. I don't see what's causing it 🤔

[2021-02-04 20:51] undergroundwires commented on #54
Hi @AdamJel , glad to hear that you're happy an d thanks for the bug report. Would you be able to specify your OS version? Did you run standard/script or something customized? Could you upload the script if it was something customized?

[2021-02-04 20:51] undergroundwires commented on #54
Hi @AdamJel , glad to hear that you're happy and thanks for the bug report. Would you be able to specify your OS version? Did you run standard/script or something customized? Could you upload the script if it was something customized?

[2021-02-05 08:14] AdamJel commented on #54
@undergroundwires luckily, I am able to catch on your message editing going on :)
- My OS = Windows 10 - 20H2 - 19042.789
- I only run scripts from the app. I selected strict option and went through the list and selected and unselected some more. I am not 100 % sure, but most likely, I run these scripts:
[cortane.txt](https://github.com/undergroundwires/privacy.sexy/files/5931032/cortane.txt)

[hy

[2021-02-05 18:23] undergroundwires commented on #54
Hi, sorry for the inconsistent replies, I was testing meanwhile and getting different result 😅 Thanks for the all information.

I tested it on 20H1 but could not reproduce, however I could reproduce it using 20H2 and "Strict" template after rebooting.

Behavior is unintended and I'm not sure what script is causing it. 🤔

[2021-02-05 19:06] cjerrington commented on #50
Thanks! I'll keep taking a look. Working on this during some "off time" from other projects and work.

[2021-02-05 22:12] mikhoul commented on #16
Found this:

[code]

More Information here:   https://github.com/MicrosoftDocs/windows-itpro-docs/blob/fde79396c17f3d2d0c922b14e8fef513d8b60d4f/windows/application-management/per-user-services-in-windows.md

Regards :octocat:

[2021-02-07 12:44] vachan-maker opened #55 "Action bar, wifi window cannot be accessed after running a script"
These scripts are great and with it I uninstalled the windows apps, onedrive and disabled telemetry. But the wifi pop up window cannot be accessed. I don't know which script reverts the change
This is the window and it does not appear
![image](https://user-images.githubusercontent.com/65799568/107146781-47fdc880-6970-11eb-9950-4b7263a30252.png)

[2021-02-08 07:06] undergroundwires commented on #16
Thanks @mikhoul 🤗! I can take a look at this after #53 is merged, I don't want to add anything with PowerShell before it.

From now on let's create issues instead of continuing the discussions here so I can track & manage them separately.

[2021-02-08 07:42] vachan-maker commented on #55
Sorry to disturb,
I went through a bunch of scripts and reverted many. But still I don't know which script disabled the action centre, battery pop up window, wifi window.

[2021-02-08 15:56] undergroundwires commented on #55
Hi @vachan-maker , I'm sorry that I did not understand what's getting disabled exactly.

What exactly is the "wifi pop up window"? In the screenshot you can see the WiFi icon, and can click on it, so what is the problem? When you say battery pop up window and action centre, do you mean that the icons are missing or it does not work if you click on them?

It would also be helpful if you could share

[2021-02-09 15:47] usamac opened #56 "Enhancement - Win 10 Customizing"
No issues at all that I have run into. So far, I am absolutely loving this script builder!

Is there any chance there could be an added section to customize and/or add applications like alternative browsers, zip managers, pdf readers, Malwarebytes, everything (app), etc

It would also be great to allow for the customization of the the start menu and/or settings menu in the notifications bar.

One

[2021-02-09 16:16] mikhoul commented on #56
I agree an support it !

[2021-02-09 18:02] CodingArctic opened #57 "Problems with microphone input and establishing SSL/TLS connections"
### Describe the bug

I just used the script, didn't choose any crazy options. but now no programs get input from my mic? I need to do zoom classes, and this is kind of a big problem.

### OS

windows 10 20h2 19042.746

### Scripts

[privacy-script.zip](https://github.com/undergroundwires/privacy.sexy/files/5953283/privacy-script.zip)

this was the script i ran (in zip form cause i cant upload .ba

[2021-02-09 18:07] CodingArctic commented on #57
this resolved itself?? also having another issue where my image is failing to upload in ShareX (my screenshotting program)

![image](https://user-images.githubusercontent.com/16868830/107407519-c163fb00-6ad7-11eb-94e3-42c6de3c4250.png)

[2021-02-09 18:44] usamac opened #58 "Unexpected behavior - Can't install Malwarebytes"
Can't install Malwarebytes. What disables this?

### OS

Win 10 Pro Version	10.0.19042 Build 19042

### Scripts

I used standard and then tweaked it with a few things. Script attached.
[privacy-script.zip](https://github.com/undergroundwires/privacy.sexy/files/5953575/privacy-script.zip)

### To Reproduce

I have attempted to install Malwarebytes straight from their website and via ninite.com Each

[2021-02-09 20:21] michalsieron opened #59 "Export as json(?) and then load"
### Problem Description

I would love to be able to load previously created script and change some of the settings or just see with nice GUI what does the script do

### Proposed solution

I assume, that parsing script is not an option, so next best thing would be exporting to JSON or another format.

I am thinking about putting created JSON in a comment as first/last line and then the only thing

[2021-02-10 17:21] usamac commented on #58
Update: I have found that this problem only happens when I run the script before fully updating the machine. I completely set up a fresh install today and then ran the same script and have no issues with an already installed Malwarebytes.

[2021-02-11 04:02] zy26 opened #61 "Enhancement - Make the collections compatible with PowerShell script"
I agree we should better support PowerShell scripts (#53), I think a better way is to use pure PowerShell scripts to replace the `.yaml` files. Meta-information such as `os`, `actions`, `category`, etc. can be placed in the [comment based help](https://docs.microsoft.com/powershell/scripting/learn/ps101/09-functions?#comment-based-help) of the PowerShell functions.

In this way, the `collection`s

[2021-02-12 22:58] undergroundwires commented on #56
Hi,

Thanks for your very nice feedback @usamac . It's heartwarming 😊

I think all of your ideas sound good and exciting. I'm open to having them in our script list. Let's refine them and specify them to get started.

**Adding applications**: A section like "install privacy friendly apps" would be nice. I suspect that it might be tricky as there's no global way of installing software but if anyone

[2021-02-12 23:01] undergroundwires commented on #57
Hi @CodingArctic, it's probably `Deny app access to microphone` script. It should be solved if you revert it by searching for it, clicking on "revert" next to it and run the generated script.

[2021-02-12 23:10] undergroundwires commented on #57
Hi @CodingArctic,

For first problem: it's probably `Deny app access to microphone` script as Zoom is probably . It should be solved if you revert it by searching for it, clicking on "revert" next to it and run the generated script. I'll add a warning icon next to those "breaking" scripts just to make it more clear.

For second problem: it seems like ShareX is using insecure protocols ShareX/Share

[2021-02-12 23:10] undergroundwires commented on #57
Hi @CodingArctic,

For first problem: it's probably `Deny app access to microphone` script as Zoom is probably . It should be solved if you revert it by searching for it, clicking on "revert" next to it and run the generated script. I'll add a warning icon next to those "breaking" scripts just to make it more clear.

For second problem: it seems like ShareX is using insecure protocols (see ShareX/

[2021-02-12 23:21] undergroundwires commented on #58
Thanks for your contributions, bug report and the update @usamac . I'm sorry that it somehow interfered with Malwarebytes installation. I do not see any script that may interfere with it. "Disable Malicious Software Reporting tool diagnostic data" would just disable sending malware infection results to Microsoft servers.

I know I'm not helpful here but it's hard to guess what's going on without s

[2021-02-13 00:40] mikhoul commented on #56
It could be both, often customisation and privacy overlap on each other.

Things/tweaks more oriented toward customisation and power-users could be listed in a new section, something called like "Advanced custom Tweaks" or something like that.

Regards :octocat:

[2021-02-13 06:29] vachan-maker commented on #55
Its my fault for not writing clearly. The screenshot is just for reference.
The problem:
The WiFi pane or popup shown in the above image does not appear at all when I click the wifi icon/symbol on the taskbar. This is the same case with the battery popup or pane.

I used these scripts
- Uninstall all the windows apps. It even removed the Windows Defender and Settings.
- Uninstall OneDrive and remo

[2021-02-13 12:50] undergroundwires commented on #55
Thanks. Now I understand, so you have the icons on taskbar but panes do not appear i.e. clicking on them do not anything.

My initial guess is that disabling windows telemetry and OneDrive should not have any affect them. It's most likely that uninstalling all the windows apps has caused it. I'll remove those apps from bloatware section once we identify them.

Do you have the the exact script that

[2021-02-13 12:52] undergroundwires commented on #55
Hi @vachan-maker , I'm sorry that I did not understand what's getting disabled exactly.

What exactly is the "wifi pop up window"? In the screenshot you can see the WiFi icon, and can click on it, so what is the problem? When you say battery pop up window and action centre, do you mean that the icons are missing or it does not work if you click on them?

It would also be helpful if you could share

[2021-02-13 17:57] undergroundwires commented on #56
I've been against the idea of blending in non-privacy stuff as I considered it out of scope. But as the interest is mentioned a few times, maybe we should just try it out.

A consideration I have is how we can handle those without alienating people here for privacy & security only which is the solution is built for. Let’s consider a use-case:

If we start adding other types of customizations then

[2021-02-13 17:59] undergroundwires commented on #59
Hi @michalsieron ✋🏿 Thanks for your suggestion. Just to understand clearly, do you mean that we enable loading "custom script sets" or just loading a specific selection from the existing script set in privacy.sexy?

[2021-02-13 18:46] mikhoul commented on #56
I thinks this way is the best, for users looking only for privacy tweaks it will be easy with 2 distincts category it will be easy to only choose one category.

Also for the "buttons" it could be something in the like of:

_Select:_
 **_Privacy enhancement_**:  None | Standard | Strict | All
              **_Others custom Tweaks for Power-Users_**:  None | Standard | Strict | All

----------------

[2021-02-13 18:51] michalsieron commented on #59
I meant loading scripts created from already existing script set.
For example someone chooses "Disable OS Services > Text Messaging" and "Remove Bloatware > Remove OneDrive > Uninstall OneDrive". Then JSON string with those settings is saved in created script so later they can paste that script into text area on privacy.sexy and it will be loaded and displayed with existing GUI.

[2021-02-16 12:59] vachan-maker commented on #55
I am sorry for making this confusing. I removed the screenshot tools, game bar, etc from my machine. So I was kind of lazy to download an additional software for taking a screenshot.

**I downloaded the above image from some website.** Sorry for not making that clear.
**Problem**
**The wifi pane/popup - that long rectangular pane with the name of the wifi networks doesn not appear at all when clic

[2021-02-18 15:01] undergroundwires commented on #61
Thanks for the suggestion, a good one 👍🏿.

I like the idea. I think a nice step towards it would be having some kind of `scriptFile: scripts/script-file.ps1` property for each script and point to files & keep metadata in the yaml. I explain why in [challenges](#the-challenges) part.

A solution like #53 is still required as the generated script is still batch and PowerShell is wrapped in batch com

[2021-02-18 15:01] undergroundwires commented on #61
Thanks for the suggestion, a good one 👍🏿.

I like the idea. I think a nice step towards it would be having some kind of `scriptFile: scripts/script-file.ps1` property for each script and point to files & keep metadata in the yaml. I explain why in challenges part.

A solution like #53 is still required as the generated script is still batch and PowerShell is wrapped in batch commands in the final

[2021-02-19 03:35] zy26 commented on #61
I still don't see the necessity of the `yaml` files. If we only save the "point to a file" in a `yaml` file, we can easily generate such files using a script.

I think "one big PowerShell" is the best way to solve this problem. In fact, we don't need to generate a clean script, we only need to generate a list of functions that need to be executed, just like [Win10-Initial-Setup-Script/Default.pres

[2021-02-19 20:41] mikhoul commented on #61
I don't agree with you here, technically you are right with functions it will be more easy technically but for power-users like me what I love with this project is to have "quickly" the source code I want and only it. Not a big blob of source code containing all the functions I will never use with a PS1 script that just call the functions I need.

When I generate a power-shell script here it's bec

[2021-02-20 11:50] zy26 commented on #61
Our code is mainly simple functions that calls other functions. Therefore, if we write a simple dead code remover to analyze the calling relationship of the function, then we should be able to get the source code we want and only it. If the functions become too complicated, we can also consider writing a dead code remover by calling an analyzer such as [PSScriptAnalyzer](https://github.com/PowerSh

[2021-02-21 13:16] undergroundwires commented on #56
Thanks for your input again. Your suggestions are really appreciated and shape the future of the project 🤟🏿

**Quick solution**

I think we found a nice way to start. We add a new category, maybe change its color in UI slightly so it stands out from other categories, and exclude it from "All, Standard, Recommended".

So feel free post what custom tweaks (non-privacy related) you'd like to see here

[2021-02-21 13:18] undergroundwires commented on #56
Thanks for your input again. Your suggestions are really appreciated and shape the future of the project 🤟🏿

**Quick solution: "special category"**

I think we found a nice way to start. We add a new category, maybe change its color in UI slightly so it stands out from other categories, and exclude it from "All, Standard, Recommended".

So feel free post what custom tweaks (non-privacy related) yo

[2021-02-21 13:35] undergroundwires commented on #59
Then it's more doable 😊 I think the it solves the same thing as in #33 but using JSON import/export instead of parsing files. I think we could combine both ideas. We could save a JSON variable as batch comment in the generated script file and just parse that comment with JSON to load the scripts. Something like:

[code]

So in as in last line we could dump the name of those scripts. So the generat

[2021-02-21 15:46] michalsieron commented on #59
That's exactly what I was thinking here.

I am not sure if there's any need for additional buttons. I think, that simply automatically putting JSON there would be enough. User doesn't need to know there is a "hidden" JSON data. So no need for export button.

As for importing, I was thinking of making text area editable, so user could just paste their script there.
Alternatively you could go with b

[2021-02-21 16:43] mikhoul commented on #56
Which place would be the best to post them ?

I ask this question so that the scripts are not all scattered around and that it is more difficult for you to group them together to integrate them later.

Regards !

[2021-02-21 18:15] undergroundwires commented on #56
Thanks for asking and also suggesting a much better way of working in your question 🙏🏽!

Yeah it usually gets chaotic when combining many requests as you've already seen 😀

Creating PRs is not a good option now when we don't have a category/structure for those tweaks yet so I think we should create a new issue per tweak wished. I'll create a special issue template for tweak suggestions later on bu

[2021-02-21 18:15] #56 closed

[2021-02-24 04:50] vachan-maker commented on #55
Any updates on this issue?

[2021-02-24 16:02] mikhoul commented on #55
I'm pretty sure it's a service that has been disabled,

IMO the best way to fix your issue is to revert the services to their default one by one to find which service have the offending setting.

You can do it manually by looking at this list of Services default here: https://www.tweakhound.com/2020/12/23/windows-10-default-services-v20h2/

Or you can use those .REG files in the attachement:
[Wind

[2021-02-25 15:36] undergroundwires commented on #55
It can also be caused by deleting Settings app. It's not a bloatware at all, I'm removing that tweak from privacy.sexy. Can you try to revert the settings app tweak? If it still does not work, you could go to `Uninstall system apps` and revert them one by one. Please share if you can figure out a solution for it so we can remove tweak that's causing it from privacy.sexy.

[2021-02-25 15:40] undergroundwires commented on #33
Closing this issue as this will eventually get implemented by #59

[2021-02-25 15:40] #33 closed

[2021-02-26 01:45] vachan-maker commented on #55
Thanks @undergroundwires and @mikhoul for the help
I just found the script and reverted it.
This is the script called **Start App**

[code]

[2021-02-26 17:21] undergroundwires commented on #54
I suspect this is caused by disabling a service that interacts with the night light settings in an undocumented way. https://github.com/undergroundwires/privacy.sexy/issues/55#issuecomment-785181443 by @mikhoul might solve it. Please share if anyone can find out what's the cause here, so we can unrecommend or document the script.

[2021-02-26 17:23] undergroundwires commented on #57
Closing this as this is not a bug caused by privacy.sexy but a problem with the project where it uses insecure protocol. I'd be happy if you could get back on whether the reverting the scripts mentioned in my last comment has solved your problem or re-open the issue if any additional help is needed.

[2021-02-26 17:23] #57 closed

[2021-02-27 16:35] mikhoul commented on #54
There are 3 Windows services necessary for night lighting to work properly:

- Connected Devices Platform User Service (CDPUserSvc)

- Connected Devices Platform Service (CDPSvc)

- Network Connection Broker (NcbService)

If the "Connected Devices Platform Service" and "Network Connection Broker" services have the "disabled" start type, the "night lighting" functionality in the "Settings" applicat

[2021-03-05 14:48] undergroundwires commented on #61
I have been thinking about it, and I'm sorry that I conclude to not implement it. It brings lots of complexity and requires big effort. If someone else wants to contribute, feel free to re-open the issue. I'd suggest to clone privacy.sexy and do a very simple PoC for review before starting with something bigger.

P.S.: `Win10-Initial-Setup-Script` was a great project, but lacked a lot of scripts a

[2021-03-05 14:48] #61 closed

[2021-03-14 13:34] #55 closed

[2021-03-22 00:26] itady74 opened #63 "I lost control"
After I used the script, accordantly lost the administration control from my device, and if I need to get my premises back I can't do it. So please if someone can help me just help me.

[2021-03-22 16:27] undergroundwires commented on #63
Hi @itady74 , I'm sorry for that. Would you please provide more context so we can help you solve it?

- **Describe the bug**
  - A clear and concise description of what the bug is.
- **OS**
  - Which OS are you using?
  - What version of OS you were using?
    - On Windows you can find it using "Start button" > "Settings" > "System" > "About".
    - On macOS you can find it using "Apple menu (top

[2021-03-22 18:58] itady74 commented on #63
I fixed the problem yesterday with the revert features thank you

[2021-03-23 12:06] #63 closed

[2021-03-23 14:59] kdar commented on #59
This would be very helpful, especially if more features are added. Let's say in 2020 you generated your script and you're happy with it, then 2021 comes around and added 6 more blocks. It would be nice to load my old script, and then go check off those 6 new blocks to add to my previous script.

[2021-03-23 23:20] itady74 opened #64 "[BUG]: can't sign in again"
### Describe the bug
I can't sign in to my windows account again, I need to sign in to use the store and I don't know which scripts should I use to bring sign in back.

### OS
Windows 10 Home

### Screenshots
![RQ77EwBPES](https://user-images.githubusercontent.com/65746877/112231210-2d389800-8c2e-11eb-8aa2-438757e3f1ad.png)

### Scripts

<details>
  <summary>Click to open</summary>
@echo off
:: ht

[2021-03-24 16:04] undergroundwires commented on #63
Happy to hear that! We could document them better in future versions if you'd share which tweaks that caused the unexpected behavior

[2021-03-24 17:08] itady74 commented on #63
But I have another issue too, and I push it yesterday

[2021-03-24 18:27] undergroundwires commented on #63
I've seen it and understand you're worried but please be patient. We have a small community trying to help each other in their free time.

[2021-03-24 18:58] undergroundwires commented on #59
@kdar thanks for your feedback. Great idea. And after you giving one more heads up I decide to prioritise this in next version 🥳

It sound very good. It would require for us to do some kind of `diff` of list of scripts between two application versions. I’m not sure how we’d do it 🤔

Here I'll share my thoughts for the first implementation, feedback is appreciated 😊

### State JSON schema

[code]

[2021-03-25 15:56] undergroundwires commented on #64
Thanks for the bug report.

Could you please clarify more to understand how the steps to reproduce this including:

- Where exactly can you not log in? What is it shown in the screenshot, which steps did you take to get to that screen?
- How do you determine that it's not working? Where is it failing and what exactly is the faulty behavior are you getting? Do you get any error message

[2021-03-25 19:12] itady74 commented on #64
**Of course, I can.**
Firstly, I cant to sign to my account on Windows account in general, as you see here in the GIF:
![8ImfPbTKua](https://user-images.githubusercontent.com/65746877/112529672-7529fd00-8d9d-11eb-9a1a-8c3945736ea1.gif)

also, I can't sing in to Microsoft account too like this:
![nWKjLegcBY](https://user-images.githubusercontent.com/65746877/112529859-ac98a980-8d9d-11eb-9837-50183e

[2021-03-25 23:20] dennyamarojr commented on #64
Hi @itady74 ,

First of all, make sure you run the revert script for the following scripts

:: ----------------------------------------------------------
:: ----Disable active probing (pings to MSFT NCSI server)----
:: ----------------------------------------------------------
echo --- Disable active probing (pings to MSFT NCSI server)
reg add "HKLM\SYSTEM\CurrentControlSet\Services\NlaSvc\Paramet

[2021-03-26 00:07] itady74 commented on #64
I used to do what you said MR @dennyamarojr, but I found something weird here
Why OpenService is field?
![gGEDzySE9O](https://user-images.githubusercontent.com/65746877/112558614-14afb580-8dc7-11eb-962e-9a62572ff062.png)

[2021-03-26 18:59] kdar commented on #59
I think the JSON schema looks sound to me. One question I have is, would it be worth it to assign an ID to each script? I understand it would take some work to update the collections to have an ID. That way, the name wouldn't matter.

[2021-03-26 22:52] dennyamarojr commented on #64
OneSync may have been deleted, did you try use the regedit to re-enable?

[2021-03-26 22:54] dennyamarojr commented on #64
Also, as I said reverting the script will work but you probably need xbox identity provider (and maybe xbox game callable UI) to sign in , not sure if without these features sign in will work in Microsoft Store.

Need a better investigation on this

[2021-03-27 00:27] itady74 commented on #64
I slove the problem, the problem was I delete Microsoft Edge :)

[2021-03-27 08:43] itady74 commented on #64
Actually it was a problem with a chosen of default browser. If anybody removed edge from his PC, he should to change the default browser from the settings.

[2021-03-27 12:27] Rohlik opened #65 "Windows Spotlight stop working"
Hello and thank you so much for this project!
I generated and run script on my Win10 and Windows **Spotlight** stop working (random wallpaper on lock screen). Is there any chance to make it work again?
Thank you.

[2021-04-02 15:07] usamac commented on #54
Hello @mikhoul

I am having this issue after running Standard with some modifications. I have removed EDGE, MS Edge, OneNote & One Drive. There may be one other thing I allowed it wanted to remove that I cannot recall.

I am on 20H2 with Build 19042.906 and Windows Feature Experience Pack 120.2212.551.0.

After running the script, I restarted my system. Then I happened to notice that Night Light w

[2021-04-02 17:40] mikhoul commented on #54
Make sure that the CDPUserSvc.dll file exists in the %WinDir%\System32 folder. If this file is missing you can try to restore it from your Windows 10 installation media.

[2021-04-02 23:14] usamac commented on #54
I believe it is installed, right?

![Screenshot 2021-04-02 191234](https://user-images.githubusercontent.com/55719365/113460676-87341d00-93e7-11eb-814f-e9d771a1934e.png)

[2021-04-03 03:28] mikhoul commented on #54
Verify that the DDL is registred: https://helpdeskgeek.com/how-to/register-dll-file-in-windows/

Once registered set the service to automatic and reboot so see if the service is started.

[2021-04-04 00:43] usamac commented on #54
Thank you. I did this and then the freaking thing disappeared again after reboot. I ended up running sfc/ scannow and it restored my Night Light. Searching through the logs.. unsure so far, but I am wondering if this enabled my telemetry back as well though?

[2021-04-04 13:57] SSimpl3 opened #67 "[BUG]: Unable to change PIN and Password"
### Describe the bug
Go to Settings > Sign-in Options
The only options are Security Key
I've previously set up PIN and Password for different account, after using this script, I noticed the option to change PIN and Pass were gone

### OS
Windows 10 Pro 2004 19041.867

### Screenshots
![image](https://user-images.githubusercontent.com/53003695/113510938-73272180-9587-11eb-967e-b4ef68df4fa1.png)

##

[2021-04-04 14:03] SSimpl3 opened #68 "Revert All Selection"
### Problem Description
Easily revert every single selection that can be reverted with the click of a button. In cases the script did an oopsie I would like to easily and quickly revert all change made by the script. I can just click all then press a "Revert All Selection" button to have the opposite effect for reversible script

### Proposed solution
Add a button that says "Revert All Selection",

[2021-04-04 16:21] mikhoul commented on #68
Here's a reg file that I compiled that revert most windows services to their default so 99% of the tweaks will be reverted if you merge this file in your registry.

***IMPORTANT***:  Since not all windows versions have the same services it will merge services that don't exist on some Windows version. So you should review the file manually before using it. Also this reg file can contain error du to

[2021-04-04 18:34] undergroundwires commented on #59
I'd like that, it would simplify code base as well. But I'm afraid of a manual ID generation would make contributions harder.

Now it's pretty easy to open-up a [collection file](https://github.com/undergroundwires/privacy.sexy/blob/0.10.1/src/application/collections) and just add a new script. Adding an ID field would make it more complex when we are extending it. If it's an integer, it wouldn't

[2021-04-04 19:06] undergroundwires commented on #64
Happy to see that this is solved. Thanks for sharing the root cause @itady74  and @dennyamarojr for being a helpful and awesome  ❤️

I guess that it's the legacy edge removal that has caused it as the new edge is uninstalled using a more reliable uninstaller. In that case we could just add cleanup steps in registry to de-associate legacy edge from being default browser so this does not break for o

[2021-04-05 11:33] undergroundwires commented on #65
Hi @Rohlik,

Windows Spotlight feature sends data to Microsoft servers and it's recommended to disable it (also often disabled in enterprise managed computers).

It's most likely the script called "Disable targeted tips" that has caused it. So it would work if you revert that using the following code:

[code]

We should:
- Add revert option for the script (missing right now)
- Document it better,

[2021-04-05 12:10] SSimpl3 commented on #68
Thank you, this is nice but I am unable to read all of the source code, I'll be keeping it just in case I really need it

[2021-04-09 14:21] undergroundwires commented on #68
Thanks for the feedback @SSimpl3, it make sense. I will implement this in the next minor release.

[2021-04-14 13:46] undergroundwires commented on #64
It seems to be `Cloud Experience Host app` script causing this, renamed script to `Cloud Experience Host app (breaks Microsoft cloud/corporate sign in)` to make it more clear

[2021-04-15 23:29] undergroundwires opened #69 "Failing security checks because of CVE-2021-27290"
**Note**: This is not affecting any of the privacy.sexy users, it a vulnerability in the developer dependency vue-cli v4.

I cannot monkey patch this so waiting fixes in the dependencies.

Vue CLI depends on vulnerable [zkat/ssri](https://github.com/zkat/ssri) versions through:
1. Direct dependency
   - `ssri` published a new release for the new version and also has backported changes and released

[2021-04-18 05:32] Daksh777 opened #73 "[BUG]: Microsoft Edge uninstall script leaves a blank app in start menu"
### Describe the bug

![image](https://user-images.githubusercontent.com/43648146/115135302-3f430600-a035-11eb-8db8-a2deda75c379.png)
Restarting the system does not help

### OS

Windows 10 20H2 Build 19042.928

[2021-04-18 10:26] undergroundwires commented on #73
Hi, thanks for the report! Is it caused by removing legacy edge (system app) or chromium edge?

[2021-04-18 13:00] Daksh777 commented on #73
It's the Chromium Edge

[2021-04-18 19:55] G-Rath commented on #69
this is backporting *from* 8.0.1, into v7 :)

[2021-04-22 13:09] ponei opened #74 "[BUG]: Disabling Windows Defender Services requires NT Authority"
### Describe the bug

Windows Defender service disabling scripts don't work under normal admin permissions; Changing some registry keys require NT Authority.

### OS
Edition	Windows 10 Home Single Language
Version	20H2
Compilação do SO	19042.928
Experiência	Windows Feature Experience Pack 120.2212.551.0

### Scripts

The whole "Disable Windows Defender Services" group

### Additional information

[2021-04-25 17:06] undergroundwires commented on #73
I could not reproduced it following:

1. Install chromium edge using ([download url](https://go.microsoft.com/fwlink/?linkid=2108834&Channel=Stable&language=en))
2. Check where the shortcuts are created. The installer created one at `C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Microsoft Edge.lnk`
3. Uninstall it using privacy.sexy
4. The shortcut does not exist anymore (uninstaller remove

[2021-04-26 05:02] Daksh777 commented on #73
I did the exact same steps as you did and it unfortunately did not remove the shortcut for me.

Installed Edge Chromium:
![image](https://user-images.githubusercontent.com/43648146/116030976-696e7680-a67a-11eb-83b6-f1ec7306bf8d.png)

Used privacy.sexy script:
![image](https://user-images.githubusercontent.com/43648146/116031005-7723fc00-a67a-11eb-8b21-1ab7f97d7c2e.png)

No Microsoft Edge.ink in C:

[2021-04-26 15:33] undergroundwires commented on #73
Hi thanks for the sharing your findings again @Daksh777 , so I was wrong to guess that the icon in the start menu is that shortcut file. It seems to be something else. I am not sure which file/registry entry is being created for that blank app in that case.

[2021-04-27 03:52] Daksh777 commented on #73
I am also unable to find the source of that blank entry in the start menu, let me know if you need me to do anything.

[2021-05-02 13:53] owersite opened #76 "[BUG]: Search Reversing"
Hello, i used to disable Search windows feature but when i reversed i did not get it back, what do i do?

[2021-05-02 18:52] undergroundwires commented on #69
Oops 😀 Thanks for the info (edited the story) and the PR, hope it gets merged soon!

[2021-05-03 14:23] undergroundwires commented on #76
Hi, thanks for the bug report.

Could you run `Dism /Online /Get-FeatureInfo /FeatureName:"SearchEngine-Client-Package"` on a command line and share what you see? It would give us more insights about what the problem is.

P.S.: It may require reboot to get the service back.

[2021-05-03 16:03] owersite commented on #76
Sure! I already did that and got error but never screen-shotted it, ill do it real quick now.

[2021-05-03 16:06] owersite commented on #76
By the way, my search bar opens, but when i search in like lets say "Discord" nothing happens or anything else than Discord, maybe spotify etc. This command now worked, here you go picture that i got no errors,  https://pays.host/67Sx3Mkt
but problem i have is still not fixed.

[2021-05-03 20:37] undergroundwires commented on #76
🤔 Search feature seems to be running. So the issue must be somewhere else. It can be `Search app` script that's known to break search, maybe try to revert that one if you had it.

To troubleshoot it more and reproduce could you attach the generated script that you executed and also attach a screenshot to illustrate what you mean i.e. the expected behavior vs the actual?

[2021-05-04 22:46] owersite commented on #76
You want me to send you my privacy.bat script i used? I have it on pc if u need i will

[2021-05-07 15:44] undergroundwires commented on #69
Also waiting for  vuejs/vue-cli#6461 to be resolved to close this.

[2021-05-09 01:24] Foro38 opened #77 "Really?"
\>Privacy
\>Windows
\>MacOS
Are you kidding?

[2021-05-09 10:08] undergroundwires commented on #76
@owersite , yes please attach the file and also add a screenshot of the wrong behavior.

[2021-05-10 13:07] hjk4 opened #78 "Obsolete policies"
The 2 policies below are obsolete as of Edge 89. I'd also suggest the removal of policies that refer to Edge legacy, since it's no longer supported

![Captura de ecrã 2021-05-10 134704](https://user-images.githubusercontent.com/83961303/117662551-9604b100-b197-11eb-8ced-6dd108ac636e.png)

[2021-05-10 16:47] undergroundwires commented on #78
Thanks for the feedback! There may be people who are still using the older edge chromium and would like to apply the policies. How would you suggest we address it something like this and allowing them to use the scripts?

[2021-05-10 18:08] owersite commented on #76
![image](https://user-images.githubusercontent.com/60113773/117704743-7edfb680-b1cb-11eb-8312-0a48c653ebaf.png)

[2021-05-17 21:55] owersite commented on #76
Help?

[2021-05-18 16:13] undergroundwires commented on #76
@owersite Bumping here would not be beneficial without required information to reproduce. This is why bug issue template exists which you did not use and it's the reason we're wasting time here by having Q&A to provide answers to questions that should have been answered in first place. Please share your OS version and attach your script file.

[2021-05-18 16:13] undergroundwires commented on #76
Bumping here would not be beneficial without required information to reproduce. This is why bug issue template exists which you did not use and it's the reason we're wasting time here by having Q&A to provide answers to questions that should have been answered in first place. So feel free to share your OS version and attach your script file.

[2021-05-18 19:52] #77 closed

[2021-05-18 22:49] undergroundwires commented on #77
Are condoms useless because they prevent neither pregnancy nor STDs but still make the odds better for you?

[2021-05-26 18:22] owersite commented on #76
These scripts are bullshit, i reinstalled into a modded version of windows without bloatware and yea, not need to fuck with this anymore, cya.

[2021-05-26 18:22] #76 closed

[2021-05-28 16:40] zany130 opened #79 "[BUG]: Xbox sign in not working"
### Describe the bug

xbox sign in not working
### OS

21H1

### Screenshots

### Scripts

<details>
  <summary>Click to expand</summary>

[code]
</details>

### Additional information

[2021-05-28 17:18] zany130 commented on #79
I followed all the recommendations in this similar issue https://github.com/undergroundwires/privacy.sexy/issues/64 and still, it is not working it just gets stuck on the "first lets get you signed into Xbox live page" hitting next does nothing

[2021-06-11 10:07] jebr opened #80 "[BUG]: Error on executing Disable NetBios for all interfaces"
### Describe the bug
I get an error when running the Disable NetBios for all interfaces.

Error message:
`The string is missing the terminator: ".
    + CategoryInfo          : ParserError: (:) [], ParentContainsErrorRecordException
    + FullyQualifiedErrorId : TerminatorExpectedAtEndOfString`

### OS
Edition: Windows 10 Pro
Version: 20H2
Build: 19042.1052

### Screenshots

![afbeelding](https://

[2021-06-13 22:49] lalo311 opened #81 "[BUG]: Can't access sign-in options nor create a restore point"
### Describe the bug

Hey, I wanted to try your scripts but now my windows settings freeze/hang when I try to access the sign-in options section and I also can't access the restore point feature, is it expected ?

### OS

Win 21H1 build 19043.1052

### Screenshots

![image](https://user-images.githubusercontent.com/61351254/121823915-9289ab80-cca8-11eb-98fe-5f3135df3687.png)

### Scripts

[privacy

[2021-07-06 08:21] AnonymousPlanet opened #83 "MacOS: Add script to disable Gatekeeper and XProtect"
### Problem Description

The site doesn't mention Gatekeeper privacy issues. Query the database by issuing:

`echo 'SELECT datetime(LSQuarantineTimeStamp + 978307200, "unixepoch") as LSQuarantineTimeStamp, ' \
  'LSQuarantineAgentName, LSQuarantineOriginURLString, LSQuarantineDataURLString from LSQuarantineEvent;' | \
  sqlite3 /Users/$USER/Library/Preferences/com.apple.LaunchServices.QuarantineEv

[2021-07-06 08:42] AnonymousPlanet opened #84 "Windows: Add information to remove shellbags entries"
### Problem Description

Information should be added to remove Shellbags from registry

### Proposed solution

Delete the following registry keys:

[code]

Then recreate the following keys:

[code]

### Alternatives considered

Use <https://privazer.com/en/download-shellbag-analyzer-shellbag-cleaner.php>

### Additional information

[2021-08-09 17:34] usamac commented on #68
Hey, I was just wondering if this was implemented already or did you run into some issues with it? If it's already in, I've created a few new in the past month and now need to revert one to see if it's what's stopping me from making something work, but I am unsure of how to revert (if already implemented.) I can just use the reg file, but rather use a default feature if it exists.

[2021-08-11 16:42] playgithub opened #85 "No permission to install applications"
After applying some scripts, got some permission problems as below:
* When install applications not enough permission, error code: 2502, 2503
* Use `copy` to overwrite a file in `C:\Windows` in terminal with admin priviledge, but still no permission

Which script(s) cause the problems?
How to fix it? Or any workaround if better?

[2021-08-12 05:58] playgithub opened #86 "some useful patches"
[patch.zip](https://github.com/undergroundwires/privacy.sexy/files/6973155/patch.zip)

[2021-08-13 04:51] playgithub opened #87 "[BUG]: DISABLE WINDOWS DEFENDER (REVERT ON) failed"
In `PRIVACY OVER SECURITY`, check `DISABLE WINDOWS DEFENDER (REVERT ON)` and run

[code]

[2021-08-16 17:09] undergroundwires commented on #79
Hi @zany130, I'm happy that it's resolved, I'm closing this. Feel free to re-open it if some else has the same issue

[2021-08-16 17:09] #79 closed

[2021-08-20 16:01] undergroundwires commented on #64
Closing this as the behavior is now documented and due to non-activity

[2021-08-20 16:01] #64 closed

[2021-08-20 16:34] undergroundwires commented on #65
Closing this as now the behavior is better documented

[2021-08-20 16:34] #65 closed

[2021-08-21 17:07] undergroundwires commented on #74
Thank you for your report. I can reproduce this. I'll add the scripts you suggest in the next minor version.

Regarding a better solution, changing protected registry areas can be done using PowerShell which is even used by [Microsoft](https://github.com/microsoft/SDN/blob/master/Containers/InstallPrivateCloudPlugin.ps1). If I'd appreciate if some could PoC with it and share I'd appreciate. I'm pr

[2021-08-21 17:08] undergroundwires commented on #73
@Daksh777 could you look at where the shortcut is saved?

[2021-08-21 17:12] undergroundwires commented on #78
I'm closing this. We keep the obsolete policies in privacy.sexy for people who's running the obsolete versions. Those configs would not have any bad impact on people running the newer versions. Please re-open this if you can concretize how we should approach the issue in a better way.

[2021-08-21 17:12] #78 closed

[2021-08-21 18:04] undergroundwires commented on #80
Hi @jebr , thanks for a clear bug report, you're running the script using PowerShell terminal which treats double quotes differently than `cmd` (batch) terminal. Privacy.sexy uses batch terminal as it's more widely available so try it using `cmd` and it would work.

[2021-08-21 20:48] undergroundwires commented on #83
This is great. Thank you for the context and clean and clear scripts. A perfect contribution. I'll add it in the next minor version that I plan to release in a month.

[2021-08-22 06:48] Kizaemon opened #88 "Cosmetic usability improvements"
Thank you for your library of tweaks!

I noticed two minor usability issues, which could be improved.
This is the online version for windows, card layout.
I tried with Firefox and Opera.

1) Expand a card on the left side, and select an item (checkbox) inside of that card -- a script is generated at the right side.
Now when I select any characters in the generated script, the card is collapsing an

[2021-08-22 11:13] undergroundwires commented on #68
@usamac Happy to see you around! I did not have the time to put into project recently, but now I'm back. It's not implemented yet. I'll look at it along with other things that come up so it may have it.

I'd really appreciate with some help on the UI. I'm not sure where to put to button/switch/text.. I'm open to suggestions. Just a comment giving an idea or a small sketch. Goal is to keep UI as si

[2021-08-22 13:28] undergroundwires commented on #84
Another great suggestion, thank you. It will be added in the new version.

[2021-08-22 14:47] undergroundwires commented on #87
Thanks for the bug report @playgithub . It's due to Microsoft started using protected registry areas. I'm closing this as #74 mentions the same issue and we can continue there.

[2021-08-22 14:47] #87 closed

[2021-08-23 01:24] usamac commented on #68
All is well and thanks for getting back to me!

Honestly, I'd think a button in the top right that says REVERT would be
simple enough, but I'm sure others that are smarter than me might have some
better insight!

Glad to have you back in the saddle, love your project. I use it
professionally and personally.

Nick McDonald

On Sun, Aug 22, 2021, 7:13 AM undergroundwires ***@***.***>
wrote:

[2021-08-23 06:47] Daksh777 commented on #73
I can't seem to find the location of the shortcut since there is no option to open the shortcut's location
![image](https://user-images.githubusercontent.com/43648146/130402605-d2bb6405-65c0-4dd3-b002-bd3edb7eac77.png)

After creating a shortcut link off of the icon to the desktop, all I see is this:
![image](https://user-images.githubusercontent.com/43648146/130402742-9b1b0dd8-703f-4471-8eb6-1fea

[2021-08-23 07:11] jebr commented on #80
You're right. When I run the completely generated in cmd I don't get an error and the registry keys are modified.
Thanks for your reply.

[2021-08-23 13:44] undergroundwires commented on #80
Closing the issue then, thanks for the reporting back the results

[2021-08-23 13:44] #80 closed

[2021-08-23 13:46] undergroundwires commented on #88
Hi @Kizaemon , welcome to the community. Thank you for using it and your valuable feedback. Both suggestions will be implemented.

1. It was implemented for mobile users. I noticed that clicking on run/download buttons do the same which is intrusive. I'll redo the logic so instead of having exceptions for collapsing cards, cards will only be closed when clicking on outer background.

2. You're rig

[2021-08-23 14:55] undergroundwires commented on #88
Hi @Kizaemon , welcome to the community. Thank you for using it and your valuable feedback. Both suggestions will be implemented.

1. It was implemented for mobile users. I noticed that clicking on run/download buttons on bottom do the same which is intrusive. I'll fix both.

2. You're right, we need to address this. I see three options going forward:

a. Based on client OS: use LF for Unix-based

[2021-08-24 14:52] playgithub opened #89 "Some installer failed to installer"
On a newly installed Windows 10 pro, select mode `Strict`, tweak a little, apply.
After that, some installers fails to install, screenshot as below, how to recover?
![Capture](https://user-images.githubusercontent.com/3665590/130638573-6a13a566-3d2c-469d-988f-294e5730de4c.PNG)

When run the installer in a terminal window with admin priviledge, it succeedes.

[2021-08-24 19:47] undergroundwires commented on #89
Hi @playgithub , thanks for the bug report. Sad that it somehow intervened with the installation. But there needs to be more information to be able to take action.

Please attach the scripts you executed, and other required information such as OS version. If it cannot be reproduced, it cannot be fixed. I recommend using the [issue template](https://github.com/undergroundwires/privacy.sexy/issues/n

[2021-08-24 20:41] undergroundwires commented on #86
Thank you!

- `VS16NoTelem.bat`: Already exists
- `del_3D_Objects_Lib.cmd`: Does not contribute to privacy. I have it roadmap to support scripts not related to privacy, however this is not on-place now.
- `disable_active_probing.reg`: Already exists

I will add `disable_windows_feeds_about_weather_and_news.reg` in upcoming version.

Let me know if there's anything more we're missing from Windows 1

[2021-08-24 20:43] undergroundwires commented on #85
*Some* is not a very good description for a bug. [This](https://testlio.com/blog/the-ideal-bug-report/) is a very good article about bug reporting. We need more context or it's very low likely that you'll get help from anyone in community. Would you feel the information asked in the [issue template](https://github.com/undergroundwires/privacy.sexy/issues/new/choose) for bug scripts?

[2021-08-24 20:44] undergroundwires commented on #58
This may be related to #89 . I did not have the issue but would be really nice to debug it with some installer logs.

[2021-08-24 20:46] undergroundwires commented on #89
Hi @playgithub , thanks for the bug report. Let's track this down and fix it.

1. Could you provide logs from windows installer? See [here](https://superuser.com/questions/180281/what-folder-are-installation-logs-in/853773#853773) for a nice way to get the logs.

2. Please provide the script you executed, and share your OS version.

[2021-08-25 00:52] playgithub commented on #89
The failed installer might be either .exe or .msi.
For python it is exe, I've uninstalled it, and reinstall `python-3.9.6-amd64.exe /log log.txt` in terminal without admin priviledge, it succeeds. I think it might only fail for the first time, because it needs some priviledge to initialize something.

OS: Windows 10 Pro 21H1 19043.1165

I'll open another issue when I can't get the log with failure

[2021-08-25 01:00] playgithub commented on #85
I can't reproduce it now.
I tried it again just now, it succeeded.

In terminal (admin), run
[code]
`hh.exe` is the native chm viewer by Microsoft.

I'll post it with steps for reproducing if  I can reproduce it.

Thanks

[2021-08-25 01:00] #85 closed

[2021-08-25 01:02] playgithub commented on #86
I'd like to contribute to the project.
I'll study it, and do PR.
Thanks very much

[2021-08-25 01:02] #86 closed

[2021-08-28 11:13] undergroundwires commented on #73
Thanks for responding back @Daksh777  . Maybe it's in `%UserProfile%\AppData\Roaming\Microsoft\Windows\Start Menu\Programs`?

[2021-08-28 11:38] Daksh777 commented on #73
No, it's not present there either.
I searched through the whole system (using Search Everything) to find Microsoft Edge shortcuts, deleted them all but it still is present there.

[2021-08-28 14:56] undergroundwires commented on #73
Giving one last shot, is it in `%UserProfile%\AppData\Roaming\Microsoft\Internet Explorer\Quick Launch` ?

[2021-08-28 16:52] big610 opened #90 "macOS dmg Discontinued?"
Why is macOS no longer supported, what happened?

[2021-08-28 21:31] undergroundwires commented on #90
I see that deployment pipeline failed. Thank you for pointing out. I re-run the pipeline after your information and now `dmg` is there

There's no plan to drop macOS support. Quite the contrary, it will get be improved with working update notifications, more scripts and a better top menu.

Happy to see an active macOS user in community 😊

[2021-08-28 21:43] big610 commented on #90
You must be very careful, involves thorough reading, research, know what your doing.
Feature Request: Preview Scan Mode more detailed to see ahead before you apply as final.
Feature Request: Windows Portable. If you can make time in the future for a Portable, I will use.

[2021-08-29 01:30] playgithub opened #91 "Do you feel pressure from the company ever?"

[2021-08-29 03:24] Daksh777 commented on #73
While there was a shortcut in that location, deleting it had no effect.

[2021-08-30 15:38] undergroundwires commented on #74
🎉 I wrote a working PoC with PowerShell. It will be added in privacy.sexy soon.

Is there any documentation on exactly which registry keys/tree are protected? Or I'd be happy for if you could share which registry keys that failed for you.

[2021-08-30 15:38] undergroundwires commented on #74
🎉 I wrote a working PoC with PowerShell. It will be added in privacy.sexy soon.

Is there any documentation on exactly which registry keys/tree are protected? Or I'd be happy for if you could share which registry keys that failed for you.

[2021-08-31 01:12] ponei commented on #74
Personally I had problems with ControlSet001, ControlSet002 and CurrentControlSet
I couldn't find documentation citing that it needs higher permission unfortunately. I tried changing them manually via regedit on my main machine and it worked without additional permission gains; maybe there's some layer of protection that you can disable that allows changing it without additional permissions?

[2021-08-31 06:45] playgithub opened #92 "After apply some patches, shadowsocks not work, any clue?"

[2021-08-31 07:08] playgithub opened #93 "Need for patch status"
* status for each patch, e.g.
  * unused
  * patch succeded
  * patch failed
* list patches by status

With this feature, it'll be at a good position for improvement

[2021-09-01 01:27] playgithub opened #94 "[BUG]: Info Message"
When execute scripts from GUI, it always shows as below, what about the first 2 lines?
[code]

[2021-09-01 05:22] undergroundwires commented on #91
Hi, we have not been approached by any company officially yet. No threats but no sponsorships/ads etc. either. But small things happen. Bing search engine somehow refuse to index https://privacy.sexy regardless of my efforts. I believe that we have been blacklisted.

In world we live in, intruding others' privacy allows companies to make more money, governments to gain more control, and enable oth

[2021-09-01 06:28] undergroundwires commented on #74
Thank you. I tested it and yes you're right. I can reproduce this. They're under `Disable Windows Defender services`, and I get `ERROR: Access is denied` for them. So we should take ownership of each key before setting them. The reason it worked on your machine is probably because you took ownership of them before. And they're not owned solely by NT Authority anymore.

I also realized that some ke

[2021-09-01 06:45] undergroundwires commented on #92
Could you attach the generated script you applied?

[2021-09-01 06:46] undergroundwires commented on #92
Could you attach the generated script you applied?

P.S.: When you create a new issue, if you select [Bug report (script bug or unexpected script behavior)](https://github.com/undergroundwires/privacy.sexy/issues/new?assignees=&labels=bug&template=1-bug-report-scripts.md&title=%5BBUG%5D%3A+) it would give much more context that would be useful.

[2021-09-01 07:19] playgithub commented on #92
I reinstalled shadowsocks, surprisingly it works. It is its own problem.
Thanks all the same.

[2021-09-01 07:19] #92 closed

[2021-09-01 07:22] playgithub commented on #91
Thanks very much

My pleasrue for contributing

[2021-09-01 07:22] #91 closed

[2021-09-03 17:40] undergroundwires commented on #94
Hi, can you please attach the whole script file or logs?

[2021-09-03 17:43] undergroundwires commented on #93
Hi, would you be more specific and elaborate more on the idea with examples/screenshots etc. Good information to add is given in "Feature request" template when you create a new issue:

 Copy pasting template here:

[code]

[2021-09-04 02:12] playgithub commented on #94
It seems that every script will display `'ttps:'` at first.
One example below, which it to remove `Microsoft.Appconnector`
## Script
[code]
## Output
[code]

[2021-09-04 02:20] playgithub commented on #93
### Problem description

It can't be checked taht if a patch is:
* patched successfully
* patched unsuccessfully
* never patched

### Proposed solution

show the status of a patch in "Problem description".
When a problem occurs, based on the status of every patch, it's much easier  test patches one by one to find out the problematic patch.

[2021-09-04 14:53] undergroundwires commented on #94
Thanks for the clarification. I tried to reproduce this but it works as expected for me:

[code]

It's very interesting. I've never heard of this before. Somehow your command line does not seem to understand that `::` in the beginning (with URL) is a comment. However it understands that `::` lines that comes later on (above App Connector app) are actually comments.

1. Can you try to change `::` t

[2021-09-04 15:07] playgithub commented on #94
Replaced the first `::` to `REM`, output
[code]

[code]

Remarks: This is the info that's from another computer. My original computer installs `Windows 10 Pro` (without `N`), but now it is running Linux, so I can't test it, I think the result is the same.

[2021-09-05 13:24] undergroundwires commented on #93
Thanks for more information. As I understand you mean like for each script we have we show a message with for different states such as: "success", "error" "not needed"?

I love the idea. Some scripts do that now meanwhile some do not. Checking if a script is needed to apply i.e. running queries requires even more effort but it would be very nice.

If anyone in community would send any improvements

[2021-09-05 13:30] undergroundwires commented on #90
Hi @big610 thank for your requests. I'd be happy if we could create new issues for each request so they can be discussed / tracked individually in future. For Portable release: I think it's a good idea. Preview scan mode:  As I understand you mean something like `-WhatIf` in PowerShell or `terraform plan`? I don't know how it can be applied in a unified/general way for all scripts. But the logic c

[2021-09-05 13:53] playgithub commented on #94
I reinstalled Windows 10 Pro, and tried v0.10.3, the problem can not be reproduced.
[code]

[2021-09-05 13:53] #94 closed

[2021-09-05 19:23] big610 opened #95 "Feature Request: Windows Portable"
Feature Request: Windows Portable

 undergroundwires commented:
So they can be discussed / tracked individually in future. For Portable release: I think it's a good idea.

[2021-09-05 19:25] big610 opened #96 "Feature Request: Preview Scan Mode"
Feature Request: Preview Scan Mode more detailed to see ahead before you apply as final.

  undergroundwires commented
So they can be discussed / tracked individually in future.
Preview scan mode: As I understand you mean something like -WhatIf in PowerShell or terraform plan? I don't know how it can be applied in a unified/general way for all scripts. But the logic can exist for each individual s

[2021-09-06 08:21] undergroundwires commented on #88
Bash [does not seem to accept [CRLF](https://unix.stackexchange.com/a/577668), then generated batch files will be using CRLF and bash LF. So we'll go with option b.

@Kizaemon in your case you were having the issue with about copying from generated script files, not on the textbox on website/desktop app right?

[2021-09-07 15:24] playgithub commented on #93
I think System APIs instead of scripts can achieve better user experience.
If patches can be abstracted in some fixed forms, e.g.
[code]

After patching properly, the application can remember status for every patch in database.
Not surprisingly if a patch is resetted automatically (e.g. by upgrading or resetted by the company) or not valid anymore.
By refreshing, the application can highlight the

[2021-09-08 16:33] undergroundwires commented on #74
I can modify the rights on `HKLM\SOFTWARE\Policies\Microsoft\Windows Defender` so local administrator group is granted access (along with NT Authority) and can change it. However I could not get it working for some services under `CurrentControlSet\Services` such as `reg add "HKLM\SYSTEM\CurrentControlSet\Services\WinDefend" /v "Start" /t REG_DWORD /d "4" /f`. Fix for the first part will be in the

[2021-09-09 18:47] playgithub opened #97 "Prevent Windows Update for device driver search (revert) failed"
[code]
After applying the scripts above and reboot, windows update still shows warnings as below
![image](https://user-images.githubusercontent.com/3665590/132744966-5958460a-9be2-4062-9bb3-ae8cf9c8ac5b.png)

[2021-09-13 15:33] playgithub opened #98 "[BUG]: Disable automatic driver updates by windows updates (revert) failed"
### Description

### OS

Windows 10 Pro 21H1

### Reproduction steps

1. Apply patch "Disable automatic driver updates by windows updates"
2. Revert it

### Scripts

Disable automatic driver updates by windows updates
[code]

Disable automatic driver updates by windows updates (revert)
[code]

### Additional information

By deleting `HKLM\SOFTWARE\Policies\Microsoft\Windows\WindowsUpdate`, it can

[2021-09-13 19:27] #53 closed

[2021-09-14 11:00] #97 closed

[2021-09-22 07:29] oldcastlehq commented on #73
I have exactly the same issue. I'm using Windows 10 Home 21H1

[2021-10-01 01:48] playgithub commented on #89
[code]

[2021-10-01 10:40] eebssk1 commented on #73
it's just leftover/dummy package from the old win10 version which is same as the legacy edge. However i didn't see this entry after uninstalling new edge. According to some report on google force removing this dummy from system driver may probably break windows updates.

[2021-10-02 00:59] #93 closed

[2021-10-06 12:00] ChrisDek commented on #74
Even if all permissions are fine there is a relatively new feature called "tamper protection" that makes disabling defender from scripts (nealry) impossible. See https://techrechard.com/completely-disable-microsoft-defender-in-windows-11/ for a tutorial with pictures

[2021-10-08 13:26] ponei commented on #74
Windows 11 is fairly new and it changed quite a bit regarding system integrity. Give it some time and people will start messing with it; Then we'll see how it goes.

[2021-10-09 08:30] Rohlik opened #99 "Microsoft login procedure is not functional"
Hey there 👋🏽 and thank you for your privacy script generator 👍🏽.
Sadly, I have a problem with Office activation and it is probably somehow connected to your utility which I used.
I have MS Office product registered with my Microsoft account, so I need to Login to my Microsoft account through MS Office to activate it.

When I click Login button this windows appear (everything is OK):
![image](https

[2021-10-10 18:53] undergroundwires commented on #99
Hi @Rohlik , I'm happy that you liked it and thank you for the bug report. Could you please attach the script file you've used?

[2021-10-10 19:08] undergroundwires commented on #98
Thanks for the report and also the solution @playgithub . Happy to see you around. Very clean issue as well. I don't actually know why it wouldn't work the documented, but deleting registry has no side affects so I will go for your solution here 👍
I'm working on a major version that'll soon be release so the fix will come after that.

[2021-10-10 19:32] undergroundwires commented on #98
Thanks for the report and also the solution @playgithub . Happy to see you around. Very clean issue as well. I don't actually know why it wouldn't work the documented, but deleting registry has no side affects so I will go for your solution here 👍

[2021-10-11 19:05] Rohlik commented on #99
Here is the script - [privacy-script.txt](https://github.com/undergroundwires/privacy.sexy/files/7324784/privacy-script.txt), but I am not 100% sure if this is that the one which I used 🧐. Nevertheless it is the only one which I have in my computer.

[2021-10-11 19:37] undergroundwires commented on #99
It seems to be `Cloud Experience Host app` script that you applied. Just go to latest version of privacy.sexy, create script for reverting it and run it.

Your script is was generated by older version of privacy.sexy where the behavior was not documented. We added the documentation in #64 . I plan to implement some better warning mechanism for this type of breaking scripts.

Please let me know if

[2021-10-11 20:13] smukherjee2016 opened #100 "[BUG]: Running the script broke Windows Store login; unable to install any Store apps due to error 0x800704cf"
### Description

I ran the following attached script (renamed to .txt so that Github accepts the upload) after generating it from the program (Awesome program btw, thanks! My PC runs much quieter for some reason now!).

However, after running it and rebooting, my ToDo account showed me as offline, and thinking something was wrong with the app, I uninstalled it. But then I was unable to reinstall i

[2021-10-16 20:08] undergroundwires commented on #93
I think this is a pretty good idea. As you say it would take very long time today as we don't have many contributors and no one earns money from here, but it's not a blocker. I'd love to discuss more.

So let's say that the user selects `off` value from your example. Then we store that `user wants this registry value off`. Then the application listens to these changes or (or scans periodically) an

[2021-10-17 15:53] undergroundwires commented on #81
Hi @Ayeki, thank you for the response, I'm sorry for late response and the inconvenience.. I can reproduce this. It's probably caused by disabling VSS.

Please try to revert: `Volume Shadow Copy Service` script that you applied.

In latest version ([v0.10.3](https://github.com/undergroundwires/privacy.sexy/releases/tag/0.10.3)) VSS script is no longer documented, and breaking behavior is documente

[2021-10-21 14:49] MarcusOtter opened #101 "[BUG]: Broken wikipedia link for Windows Push Notification Service"
### Description
First of all, cool project 🚀!

I selected the "**Standard** mode" and noticed "Windows push notification service" was disabled by default, which seems odd to me (notifications seems like pretty important functionality). So when I hovered over the information button for this setting, I got this link: https://en.wikipedia.org/wiki/Windows_Push_Notification_Service#Privacy_Issue.

It

[2021-10-25 12:32] playgithub opened #102 "Left click on taskbar icon for volumn not working on Windows 11"
### Version
Windows 11 x64 21H2 22000.282
privacy.sexy 0.11.0

### Scripts
[privacy-script.zip](https://github.com/undergroundwires/privacy.sexy/files/7409937/privacy-script.zip)

### Question
Which patch causes the problem?

[2021-10-29 18:21] #74 closed

[2021-10-31 22:00] zany130 opened #103 "[BUG]: Script not running correctly on windows 11 eduN"
### Description

The script is not running correctly

### OS

Edition	Windows 11 Education N
Version	21H2
Installed on	‎10/‎31/‎2021
OS build	22000.282
Experience	Windows Feature Experience Pack 1000.22000.282.0

### Reproduction steps

    1. run provided script
    2. see errors
    3. reboot
    4. notice some apps like paint were not removed and Xbox apps were not installed

### Scripts

[priv

[2021-11-01 02:12] celphogeek commented on #103
Did you unblock the file? when you download .bat, .cmd or any files they have a little protection from windows that you need to right-click>Properties>And them click unblock.
After that try run the script again

[2021-11-01 02:20] celphogeek commented on #103
I check the file to see the errors and all of them is normal, since you don't have the xbox app or any other apps, you will see errors. For example, the scripts selected you choose revert, but the script just use a normal method to revert the app, but don't verify for dependencies for the apps, so, if you don't have the script will try to proceed and you might find some errors.

the services and r

[2021-11-01 02:29] celphogeek commented on #103
And the command to revert the Apps, will only work if you remove the package for the current user not for all users, since the command try to use the AppxManifest.xml

[2021-11-01 02:33] zany130 commented on #103
oh ok so I was wrong in assuming that this script would install the media features missing in the N version along with all the xbox apps? also I did notice I was disabling a few things that are needed for microsoft sign in (which I would need for the xbox apps) after fixing that I was able to add the media feature through the app and features setting page and install the xbox apps from the store
[

[2021-11-01 02:33] #103 closed

[2021-11-01 19:01] ScribbleGhost commented on #102
Tried again today with a reboot after running the script. Same result. No problem.

There is no way to tell which part of the script is affects this problem, without a process of elimination which you are free to try yourself. I believe this has nothing to do with the script but without more information it's impossible to say.

[2021-11-01 19:06] ScribbleGhost commented on #100
Just to let you guys know I have had this problem with Store not connecting without running this script. The problem happened after some connection issues on my router (probably DNS issues). After a reboot of the router and a reboot of the computer the problem was not there anymore.

[2021-11-01 21:33] undergroundwires commented on #102
I can verify @ScribbleGhost , tested it on Windows 11 21H2 22000.194 and cannot reproduce, even after restart. It's probably something else that caused it 🤔

[2021-11-02 07:41] playgithub commented on #102
BTW also installed Visual Studio 2019 Enterprise

[2021-11-02 18:27] AzrailxZain opened #104 "[BUG][help wanted]: Cannot enable Windows Defender"
### Description
Heya! I used your script to disable Windows Defender (it was taking 99% of my CPU while running cloud bases programmes). After I closed the cloud based program, I wanted to enable Windows Defender again. So I went to your website and used the revert script for Windows Defender. When I ran the .bat file, I got a bunch of red error messages in the command window while running. Afterw

[2021-11-04 11:27] undergroundwires commented on #104
Hi, thanks for the report with the logs all necessary information. I'm sorry that it did not work. Let's team up and solve this together.

- If you restart, the defender should be there working without issues.
- And if you would re-run the revert scripts, they would not fail again because necessary services would be running

I tested this and Defender was runnning after reboot and and errors disap

[2021-11-04 11:56] AzrailxZain commented on #104
Hey!
So I've tried your suggestion: I restarted the laptop and just ran the revert script. Still getting a bunch of errors (the command window text is in the .txt file again, I'll attach it).
When I go to the windows settings and then onto Windows Security, its pretty much blank. Before restarting and using the revert script, I was getting an error message stating that my IT Admin (=your script) t

[2021-11-04 14:40] undergroundwires commented on #104
You can ignore the errors from second run. The logged are not really errors but part of process when escalating privileges (they exit with success in the end anyway), good that you point to this. This will also be fixed in a patch.

I cannot produce to the behavior:

<table border="0">
 <tr>
    <td><img src="https://user-images.githubusercontent.com/15555035/140333785-50daf1aa-eb04-4626-ab8e-c64b

[2021-11-04 15:03] AzrailxZain commented on #104
Haha I do not rly feel like I'm improving it but if you think that, it makes me happy :D

So I copy pasted all of the reg delete commands into CMD (ran as admin). It said successful after each of them but I am still getting a blank page (as in the picture in my last post).. any other ideas?
Btw we can surely meet on discord (screensharing etc) if that helps
Thanks again!!

[2021-11-04 17:46] #83 closed

[2021-11-06 13:16] undergroundwires commented on #104
Happy to be able to help. I wish could help more, but I unfortunately can't  if I cannot reproduce the issue on same OS version (W10 21H1) when I test. This might be caused by something elese than privacy.sexy "Disable Defender" script.

You already helped improving many aspects of it. Contribution is not necessarily code but also feedback. The error messages will be much better in following versi

[2021-11-07 17:40] AzrailxZain commented on #104
Hey
I am starting to have more issues, especially with the Microsoft Store. Every Update or Download of a program (for example the Photo App from Microsoft) fails. I cannot open the Photo App from Microsoft anymore (error message). Can all of this be symptoms of the deactivation of Defender?
I would appreciate any kind of help :(
Here are the screenshots:

![Screenshot Microsoft Store](https://use

[2021-11-09 11:31] AzrailxZain commented on #104
Update: I was not feeling comfy with the way the system was working, so I did a reinstallation of W10 without deleting my data. That fixed the bugs and not working functions but now the Defender is back up again :/

[2021-11-10 23:58] undergroundwires commented on #104
All of your updates are appreciated. I'm sorry that it led the re-installation. I am working on improving the scripts with extensive testing on Windows 10, 11. I already fixed some problems and improved some aspects we talked about in 16f2a8717c387d0ef55f1b622ee204e7ddb56f90.

I see that managing defender with cmdlet ([`Set-MpPreference`](https://docs.microsoft.com/en-us/powershell/module/defender

[2021-11-11 23:38] AzrailxZain commented on #104
Where do I find that Disable OS components for Defender category? I would give it a try, even when risking another reinstallation :D
Thank you!

[2021-11-12 16:30] undergroundwires commented on #104
Microsoft Store seems to be dependent on Defender [1] [2] [3] [4] [5], and some others also linked same issues with Store and Photos app [6] [7] .

So you’re right that those issues were related to disabling Defender. This we should document. One more great contribution, I’m sure others in community would appreciate a warning 👍

I can also reproduce this behavior, and see that calculator does not

[2021-11-13 01:32] AzrailxZain commented on #104
The Photos App would not open at all (searched for Fotos -> run (also as admin) or tried to open a picture). There would be a blank little grey window popping up which should probably contain an error message.. but yea, it was blank :D
I just remember the Photos App and the issues with the Microsoft store.

I tried disabling the Defender by turning off all functions in the "normal" Windows securit

[2021-11-13 17:41] mohsenabol opened #105 "[BUG]:"
### Description

### OS

### Reproduction steps

### Scripts

### Screenshots

### Additional information

[2021-11-13 20:22] 2961f69f-d3d2-4f42-8aa2-d7ed4570fd49 commented on #90
pokot

[2021-11-13 20:22] 2961f69f-d3d2-4f42-8aa2-d7ed4570fd49 commented on #90
@big610

[2021-11-13 20:23] 2961f69f-d3d2-4f42-8aa2-d7ed4570fd49 commented on #90
[Předpony s,z,cvičení TI2 Radek Horváth.odt](https://github.com/undergroundwires/privacy.sexy/files/7532694/Predpony.s.z.cviceni.TI2.Radek.Horvath.odt)

[2021-11-15 15:09] AzrailxZain commented on #104
By the way: this is the current state of the registry under ../../Windows Defender

![image](https://user-images.githubusercontent.com/67482197/141798964-4d7809d1-487c-43f1-bd0f-f5adec71ac24.png)

I gotta make use of your scripts to disable the Defender. You said it would be the safest (and easiest to revert) by using the "Disable OS components for Defender" category right? How long would you need

[2021-11-15 20:15] undergroundwires commented on #104
Current scripts for disabling/enabling OS components would work fine for you, there's no fixes to them in next patch. However other scripts are heavily reworked. However if you want the fixed version, here I attach the latest (unreleased) and fixed versions of the script for you: [0.11.2-rc-defender-scripts.zip](https://github.com/undergroundwires/privacy.sexy/files/7541394/0.11.2-rc-defender-scri

[2021-11-15 20:38] undergroundwires commented on #104
Current scripts for disabling/enabling OS components would work fine for you, there's no fixes to them in next patch. However other scripts are heavily reworked. However if you want the fixed version, here I attach the latest (unreleased) and fixed versions of the script for you: [0.11.2-rc-defender-scripts.zip](https://github.com/undergroundwires/privacy.sexy/files/7541394/0.11.2-rc-defender-scri

[2021-11-15 22:09] undergroundwires commented on #104
Current scripts for disabling/enabling OS components would work fine for you, there's no fixes to them in next patch. However other scripts are heavily reworked. However if you want the fixed version, here I attach the latest (unreleased) and fixed versions of the script for you: [0.112.rc-defender.zip](https://github.com/undergroundwires/privacy.sexy/files/7541947/0.112.rc-defender.zip) New scrip

[2021-11-15 22:42] AzrailxZain commented on #104
Just tried to run the disable script from the zip file you attached. Defender was not deactivated (I did not restart the PC, should I do that?).
Here is the txt file of the command window after the disable-file was finished:
[Disabled15_11.txt](https://github.com/undergroundwires/privacy.sexy/files/7542051/Disabled15_11.txt)

This is how the Windows Security Settings look like after using the scri

[2021-11-15 23:04] undergroundwires commented on #104
OK this is interesting. All of the scripts under `Disable OS components` failed for you. The others worked fine. So in the end you've disabled a lot features/functions from Defender but not the main thing.

I may now why it failed. I just created discord, let's fix this https://discord.gg/7hZJ4vnFmn

[2021-11-15 23:44] AzrailxZain commented on #104
Worked well now, I'll close with this comment! Thank you!

[2021-11-16 15:10] undergroundwires commented on #100
Thank you guys sharing information. @smukherjee2016  that's very constructive and great report 👍 I tested disabling `UnistoreSvc` and `Disable active probing` but could not reproduce the issues. Let's keep this issue here to see if others would have similar problems.

[2021-11-18 17:39] #105 closed

[2021-11-18 17:59] undergroundwires commented on #59
Just a quick update. I'm working on this. Not having IDs on scripts would cause a lot more instability so I'll go for your suggestion @kdar and have IDs. Guid seems overkill, we can maybe use first part of the GUIDs. Something like `3db4d2df` instead of `3db4d2df-c5e9-420c-95bd-92548af6c085`.

Btw code generated as JSON became too big. So switch to custom implementation of a format that looks like

[2021-11-18 18:00] undergroundwires commented on #59
Just a quick update. I'm working on this. Not having IDs on scripts would cause a lot more instability so I'll go for your suggestion @kdar and have IDs. Guid seems overkill, we can maybe use first part of the GUIDs. Something like `3db4d2df` instead of `3db4d2df-c5e9-420c-95bd-92548af6c085`.

Btw code generated as JSON became too big. So switch to custom implementation of a format that looks like

[2021-11-18 18:01] undergroundwires commented on #59
Just a quick update. I'm working on this. Not having IDs on scripts would cause a lot more instability so I'll go for your suggestion @kdar and have IDs. Guid seems overkill, we can maybe use first part of the GUIDs. Something like `3db4d2df` instead of `3db4d2df-c5e9-420c-95bd-92548af6c085`.

Btw code generated as JSON became too big. So switch to custom implementation of a format that looks like

[2021-11-18 18:17] undergroundwires commented on #59
Just a quick update. I'm working on this. Not having IDs on scripts would cause a lot more instability so I'll go for your suggestion @kdar and have IDs. Guid seems overkill, we can maybe use first part of the GUIDs. Something like `3db4d2df` instead of `3db4d2df-c5e9-420c-95bd-92548af6c085`.

Btw code generated as JSON became too big. So switch to custom implementation of a format that looks like

[2021-11-18 21:19] kdar commented on #59
Sure, saving any amount of KBs is fine especially if it's versioned and can be changed at a later date. For the case of transparency, I don't really see a gigantic reason that the export/import section needs to be unobfuscated (especially since the whole file that actually does the work is right there for review), and it's not like it's a difficult one to decipher if someone wanted to base64 decod

[2021-11-19 15:48] undergroundwires commented on #54
I found this out after some extensive testing. It's `Microsoft AAD Broker Plugin` script. Uninstalling it breaks night light settings after reboot. Same behavior is also seen on Windows 10 21H1 and Windows 11 - 21H2. Reverting the script and rebooting solves the issue.

[2021-11-19 15:50] undergroundwires commented on #54
I found this out after some extensive testing. It's `Microsoft AAD Broker Plugin` script. Uninstalling it breaks night light settings after reboot. Reverting the script and rebooting solves the issue.

Also breaks on Windows 10 21H1 and Windows 11 - 21H2.

I don't know why night light setting would require Azure Active Directory connection. High likely that some data collection is involved.

[2021-11-20 13:20] undergroundwires commented on #67
Hi @SSimpl3 , I've tested this and it's still also reproducible on Windows 10 21H1.

This happened to be same problem as #64 .

Unfortunately it was privacy.sexy script that has caused it.

Reverting `Cloud Experience Host app` would fix the issue for you.

The behavior will be documented with a warning as you suggest, it will also be removed from recommendation pool. Thanks for mentioning this.

[2021-11-20 13:23] undergroundwires commented on #67
Hi @SSimpl3 , I've tested this and it's still also reproducible on Windows 10 21H1.

This happened to be same problem as #64 .

Unfortunately it was privacy.sexy script that has caused it.

Reverting `Cloud Experience Host app` would fix the issue for you.

The behavior will be documented with a warning as you suggest.

[2021-11-20 13:23] undergroundwires commented on #67
I tested this and it's still also reproducible on Windows 10 21H1.

This happened to be same problem as #64 .

Unfortunately it was privacy.sexy script that has caused it.

Reverting `Cloud Experience Host app` would fix the issue for you.

The behavior will be documented with a warning as you suggest.

[2021-11-20 13:24] undergroundwires commented on #67
I tested this and it's still also reproducible on Windows 10 21H1.

This happened to be same problem as #64 .

Unfortunately it was privacy.sexy script that has caused it.

Reverting `Cloud Experience Host app` would fix the issue for you.

[2021-11-20 13:29] undergroundwires commented on #67
I tested this and it's still also reproducible on Windows 10 21H1.

This happened to be same problem as #64 .

Unfortunately it was privacy.sexy script that has caused it.

Reverting `Cloud Experience Host app` would fix the issue for you.

Following your suggestion, better documentation will be added and I'll also remove it it from Strict recommendation list until a better warning mechanism is im

[2021-11-21 12:57] usamac commented on #54
That is very interesting! I've been experimenting with Win 11 some but have
not used your debloating scripts with it yet.

Thank you for looking into it further and for letting me know of your
findings!

--
*Nick*
***@***.***

On Fri, Nov 19, 2021 at 10:50 AM undergroundwires ***@***.***>
wrote:

[2021-11-24 23:55] JKawmi commented on #24
I am having the same issue, should I open another issue/ticket?

[privacy-script.zip](https://github.com/undergroundwires/privacy.sexy/files/7599226/privacy-script.zip)

I am running Windows 11 21H2 (Build 22000.348)

![image](https://user-images.githubusercontent.com/13506188/143326784-0437e7c3-676b-4a14-998e-fb8c58ca91b3.png)

[2021-11-25 00:01] JKawmi commented on #24
Trying to open the language selector does not show anything and causes this Error in the Event Viewer

![image](https://user-images.githubusercontent.com/13506188/143327339-742b2673-2fb1-49d8-a215-9df8e4e0a667.png)

I hope this helps!

[2021-11-25 13:43] JKawmi commented on #24
Apparently the new action center was also not working, but I did not notice it yesterday. However, I got them to work again by running

The first two did not find any corrupted components, but the third one found some corrupted files and repaired them
![image](https://user-images.githubusercontent.com/13506188/143452005-f9b7bb95-2ea8-44fd-9d23-665c3f81fc91.png)

and now the two menus are working a

[2021-11-25 22:00] undergroundwires commented on #24
Thanks for the information @JKawmi, you provided with all necessary information to be able to reproduce this. I will take a look when I have time. Re-opening this 👍

[2021-11-28 11:16] undergroundwires commented on #24
After some hardcore testing with many VMs this weekend I found out that I found that it was caused by "`Microsoft AAD Broker Plugin app`" script. Reverting it would solve the issue.

Btw could not reproduce in Windows 10 21H1 but could reproduce in Windows 11 21H2 with your provided script.

It seems like this app is doing more than we thought. This script has caused another problem before #54. In

[2021-11-28 11:18] undergroundwires commented on #102
This may be related to another issue with taskbar #24. Maybe reverting `Microsoft AAD Broker Plugin app` may resolve it for you @playgithub . Feel free to let us know if it works or you already solved it another way.

[2021-11-28 23:28] undergroundwires commented on #24
After some hardcore testing this weekend I found out that it was caused by "`Microsoft AAD Broker Plugin app`" script. Reverting it would solve the issue.

Btw could not reproduce in Windows 10 21H1 but could reproduce in Windows 11 21H2 with your provided script.

It seems like this app is doing more than we thought. This script has caused another problem before #54. In a future patch I'll docume

[2021-11-30 15:56] playgithub commented on #102
Linux now
I'll test it later
Thanks

[2021-12-11 20:57] undergroundwires commented on #104
@AzrailxZain FYI new patch has been up for a while with all improvements so I recommend updating yours and let me know if you would have any more issues. Thank you again.

[2021-12-13 10:56] undergroundwires commented on #101
Closing this as both are now implemented and released. Thank you again and feel free to report if there's anything else.

[2021-12-13 10:56] #101 closed

[2021-12-14 02:27] rayheffer opened #108 "Spotify won't play content, trying to find what privacy setting / block caused it?"
Windows 10
Spotify (desktop app, not Windows Store)

You can reproduce this issue if you enable all privacy options. Try playing a track on Spotify and it will say it's unavailable / offline.

I am trying to find which setting has blocked this. It's unable to play any content.

[2021-12-15 10:19] undergroundwires commented on #108
You should be careful with running "All". It's not meant for daily OS users. We should probably have better warning mechanism for this with a potential "Are you sure what youre doing?" dialog.

I can recommend reverting back all system apps. It's often one of them that causes issues.

[2021-12-15 13:59] rayheffer commented on #108
I wasn't sure which one caused the issue, but it was on a VM so no harm done :)  I want to use it on my main PC, but I am having trouble narrowing down which setting breaks Spotify. I'll look at the system apps again, thanks!

[2021-12-15 13:59] #108 closed

[2021-12-19 14:28] undergroundwires commented on #102
Same, switched to Linux as main OS, and it would be nice to have some privacy  scripts for Linux too. As you know your ideas are always welcome and appreciated, so feel free to add if you would like anything in [Linux discussion](https://github.com/undergroundwires/privacy.sexy/discussions/107).

[2021-12-27 16:46] Permanently opened #110 "[BUG]: "SystemSettings.exe - Stack-based buffer" when accessing network settings"
### Description

When simply running the **strict** script along with a few other tiny things, [this pops up](https://i.stack.imgur.com/k8ViG.png) when trying to access network settings.

### OS

Windows 10 Pro (Version 21H1, OS Build 19043.1415)

### Reproduction steps

1. Select "Strict" on privacy.sexy
2. Tick some other stuff (find attached)
3. Run script
4. Restart
5. Try to navigate to Netwo

[2021-12-27 18:05] Permanently commented on #110
Found the fix, and it's not what I thought it would be.

[Re-enabling Windows Push Notification Service](https://www.toptal.com/developers/hastebin/mucofetade.bash) seems to have Network Settings functioning normally again. Why? Not sure.

Probably should change the script or remove the option from the Strict choice, though.

[2021-12-28 20:24] Evineit commented on #100
I had the same problem, the script used was the standard in the main page.
To solve it I had to revert "disable Microsoft Windows Live ID Service".
Maybe it shouldn't be selected on the standard configuration recommend to everyone.

[2022-01-01 13:07] undergroundwires commented on #110
I tested this on W10 21H1 and W11 21H2 and can reproduce the problem on W10 but not on W11.

This script [disables three services](https://github.com/undergroundwires/privacy.sexy/blob/0.11.2/src/application/collections/windows.yaml#L4696-L4720):

1. System service: `WpnService`
2. User service (system-wide): `WpnUserService`
3. User service (per-user): `WpnUserService_{random-suffix}`

All three

[2022-01-02 12:02] Cebrain commented on #100
Thanks, this fixed the problem for me

[2022-01-02 17:19] undergroundwires commented on #100
Thanks @Evineit , nice to find out the cause of it.

I tested on Windows 10 21H2 and get:

[code]

And on Windows 10 21H1: `0x800706d9`.

On both versions reverting Windows Live ID Service solved the issue.

I'll document the breaking behavior and unrecommend it with a patch.

[2022-01-02 18:50] Cebrain opened #111 "Allow recommended setting for a single Category"
I would really like a feature on the web page to set an template only for a category.
At the moment when i choose "Standard" all Cards get the settings. If i want only a configuration with a single category, i need to edit the checkboxes or file manually.

Would be great if we could "check" the categorys for which we want the settings.

[2022-01-02 22:37] Permanently commented on #110
Originally I was going to say use `systeminfo` to figure out if it's Windows 10 or 11, then go through with what you suggested with keeping `WpnUserService` for Win10. However, I've just had a quick look at the Wikipedia page and seen that the privacy issue that was added [had no sources to back it](https://en.wikipedia.org/w/index.php?title=Windows_Push_Notification_Service&oldid=835121797), and

[2022-01-04 22:07] conorgil opened #112 "Feature Request - OSX: disable Personalized Ads in Apple Advertising"
### Problem description

Recent versions of OSX have the ability to show personalized ads in certain programs. Users have the ability to opt-out of personalized ads. ([source](https://support.apple.com/en-sg/guide/mac-help/mh32356/mac))

### Proposed solution

Add a script to opt-out of personalized ads on OSX.

### Alternatives considered
 Manually opting out.

### Additional information

- https

[2022-01-05 03:05] ThiagoRangel7 opened #113 "Windows LTSC support"
Windows LTSC versions are already pretty debloated out of the box, and due to that lots of the scripts don't apply well. It doesn't come with Cortana, for example, therefore most of the Cortana disabling scripts render useless and end up only bloating the registry with keys that didn't even exist in the first place.

For example: "Do not allow Cortana" script makes changes to **Key:** HKLM\SOFTWAR

[2022-01-07 23:34] hl2guide opened #114 "[BUG]: Windows Defender Detects Uninstaller as a Virus"
### Description

Windows Defender detects the uninstaller as a virus (Trojan:Win32/Bulta!rfn).

### Reproduction steps

1. Install the app on Windows with Windows Defender active
2. Notice Uninstaller has been removed (message)

### Expected behavior

No detection.

[2022-01-08 09:17] undergroundwires commented on #114
Thank you for the report! I can reproduce this.

TLDR; I'll issue a patch, but not too soon, it's a false positive caused by upstream packager, we can just ignore it.

This is caused by our external dependency `electron-builder` that's used to create the NSIS installer. I see that it only happens in latest patch released yesterday where `electron-builder` version was bumped from `22.9.1` ([package

[2022-01-09 01:59] undergroundwires commented on #114
Thank you for the report! I can reproduce this.

TLDR; I'll issue a patch, but not too soon, it's a false positive caused by upstream packager, we can just ignore it.

This is caused by our external dependency `electron-builder` that's used to create the NSIS installer. I see that it only happens in latest patch released yesterday where `electron-builder` version was bumped from `22.9.1` ([package

[2022-01-10 20:21] CaptainFrosty opened #115 "[BUG]: I broke my Windows Sandbox and I'd like it back"
Hi. I like to use Windows Sandbox. Unfortunately I killed it. Also unfortunately I didn't use a preset or save the script. A built-in history might be a good idea. That's a genuine suggestion; I'm not saying it to be bitter or anything.

After I rebooted I saw my virtual adapters were gone. Uh-oh. Then naturally I loaded Sandbox and it hangs at the splash screen. One of the things I did was disabl

[2022-01-10 23:30] CaptainFrosty commented on #102
I don't know what's going on with the Quick Settings UI in Windows 11 but I don't think it has anything to do with these scripts. That thing has been randomly crashing and throwing all kinds of event log stuff since I upgraded. Debugger says it's the Shell Experience Host package which is where the Quick Settings dll is. I've had the AAD Broker Plugin installed. It throws errors too. Even since up

[2022-01-12 07:24] CaptainFrosty commented on #115
I ended up reinstalling because of some other issues I was having as well. So, my sandbox works again.

I was hoping to clean install Win 11 with a flash drive I made with rufus, and maybe avoid issues from upgrading in the future, but it wouldn't let me. When I booted the flash drive it wouldn't let me select it as the recovery image. It just rebooted back to WinRE if I clicked on it.

All I coul

[2022-01-13 03:31] CaptainFrosty commented on #115
Reversion does not help. When it breaks, it breaks for good. Going to have to reset again. I'll stick with the Group Policy Editor.

[2022-01-13 04:12] CaptainFrosty commented on #115
Still broke after a reset. A clean install it is. What a joke

[2022-01-13 06:49] playgithub commented on #102
Recents news say that Win11 Dev Preview Build 22533 use a totally new volumn control popup window.
Closing it issue first, if I can reproduce it, I'll post it again with steps to reproduce it.

[2022-01-13 06:49] playgithub commented on #102
Recents news say that Win11 Dev Preview Build 22533 use a totally new volumn control popup window.
Close it issue first, if I can reproduce it, I'll post it again with steps to reproduce it.

[2022-01-17 17:35] undergroundwires commented on #115
I'm sorry for the frustration(s) it has caused. Thank you for reporting your experience. I know that it's hard to be helpful for community when you want to punch the screen 😊

Reverting Defender scripts is well-tested and should be successful. Its breaking behavior of Windows store (`Disable Windows Defender Firewall service` does it)  and it is documented. I'm happy that reverting it fixed the st

[2022-01-25 15:26] chr15t0ph opened #118 "Block telemetry.dropbox.com"
Dear privacy.sexy,

could you please add blocking of telemetry.dropbox.com in your script base?

Kind regards
Christoph

[2022-01-25 21:09] CaptainFrosty commented on #115
Sorry, I missed this in my notifs somehow. My apologies if I came across with a bad attitude. I was frustrated with Windows 11 in general. So many reddit basement IT experts have told me that it's just a UI makeover of 10, no big deal, practically the same thing. All of my experiences do not jive with that take. My PC ran smooth as butter on 10 and now new issues are coming at me from all sides. U

[2022-01-26 01:23] undergroundwires commented on #111
You're right. I need it as well, so I'll add this. So how about we place `Select: None | Standard | Strict | All` on top of each card? We could also add #68 (it's already implemented I'll push it after some changes) to revert all only inside a category. It would bloat the UI little bit but I cannot come up with better solution.

[2022-01-26 01:23] undergroundwires commented on #111
Thanks for idea, I like it. I need it as well, so I'll add this. So how about we place `Select: None | Standard | Strict | All` on top of each card? We could also add #68 (it's already implemented I'll push it after some changes) to revert all only inside a category. It would bloat the UI little bit but I cannot come up with better solution.

[2022-01-26 01:31] undergroundwires commented on #54
Closing this as the setting is now unrecommended and documented. Feel free to create new issues for further problems/ideas.

[2022-01-26 01:31] #54 closed

[2022-01-26 01:32] undergroundwires commented on #24
Closing this as the script that caused is now unrecommended and documented, feel free to create new issues for further ideas/problems and thanks for the report again.

[2022-01-26 01:32] #24 closed

[2022-01-26 01:33] undergroundwires commented on #111
Thanks for idea, I like it. I need it as well, so I'll add this. So how about we place `Select: None | Standard | Strict | All` on top of each card? We could also add #68 (it's already implemented I'll push it after some more testing) to revert all only inside a category so I'll do this after that one is merged. It would bloat the UI little bit but I cannot come up with better solution.

[2022-01-27 10:10] Cebrain commented on #111
This sounds good and is a fine solution :)

[2022-02-10 07:02] heywolf15 opened #120 "Help, can't install a software"
Sorry for asking help for this
I already revert the script "Disable Windows Installer Always install with elevated privileges"
But it still failed to start, I don't know what scripts that causing this

![explorer_h1978hgwbB](https://user-images.githubusercontent.com/34807171/153353055-cf471c20-8244-4217-9409-226012313792.png)

[2022-02-11 15:16] SonaliBendre opened #121 "[BUG]: Script CHANGED ALL DEFAULT SETTINGS"
here is the script - https://bin.piracy.moe/?9482ebf863cbc8e2#HGCFWi9mQiwBN5WG6dgfmj5aowsrsr3XDpRd3fMrQV8n

can you please give reverse script?

[2022-02-14 09:11] bardiarajabi commented on #73
@undergroundwires @Daksh777 this will do:
https://dl.malwarewatch.org/multipurpose/UninstallEdge.zip or attachment
un-zip it and run Uninstall Edge.cmd as **_ADMIN_**(Disable defender before running)
this will remove **_LEGACY_** version of edge
can be used after uninstalling edge **_CHROMIUM_**
[UninstallEdge.zip](https://github.com/undergroundwires/privacy.sexy/files/8059353/UninstallEdge.zip)

[2022-02-14 09:15] bardiarajabi commented on #108
@rayheffer You have disabled windows DRM from accessing internet-connection
[Spotify Uses DRM.](https://www.defectivebydesign.org/spotify)

[2022-02-14 09:17] bardiarajabi commented on #113
@ThiagoRangel7 Which LTSC version do you mean?
for ex. on old ltsc version(s) like 1607 cortana is ripped with windows search.Its normal.

[2022-02-14 09:21] bardiarajabi commented on #95
@big610 I think the title should be : Feature Request: Portable version for Windows

[2022-02-14 09:31] bardiarajabi commented on #115
@CaptainFrosty maybe its an Hyper-v service(s) disabled?

[2022-02-15 06:07] bardiarajabi commented on #121
**_Deny app access to account info, name, and picture_**
it caused many problems for my micro$oft account

**_Disable Windows DRM internet access_**
Maybe Your apps are using DRM?

**_Deny app access to microphone
Deny app access to radios
Deny app access to bluetooth devices
Deny app access to Document folder
Deny app access to Pictures folder
Deny app access to Videos folder
Deny app access to o

[2022-02-17 13:20] heywolf15 commented on #120
@bardiarajabi  It is in admin
Can't find failure reason,  there's only 4 tabs on the properties
it's not .msi

If someone wants to try it on Basic or Strict set
https://puresoftapps.blogspot.com/2018/04/realtek-apo-driver.html

[2022-02-17 17:00] bardiarajabi commented on #120
@heywolf15 try downloading from official website not a Blog (its 2022 btw)
Did you check the services.msc ?? (Dolby DAX API Service)
to open services list press meta(windows key) + R and then type `services.msc` and then check the service

[2022-02-18 02:05] heywolf15 commented on #120
@bardiarajabi That's the official site, try search about it before saying that (it's 2022 btw)
Here's the thread on the forum https://www.techpowerup.com/forums/threads/making-audio-enhancers-work-on-windows.244309/
I know how to do that, I just don't know where to find the "Why its fail"
I'm just gonna reset

[2022-02-18 21:42] TheMystery28 opened #123 "[HELP] I need license telemetry back please"
`
@echo off
:: https://privacy.sexy — v0.11.3 — Fri, 18 Feb 2022 21:23:25 GMT
:: Ensure admin privileges
fltmc >nul 2>&1 || (
    echo Administrator privileges are required.
    PowerShell Start -Verb RunAs '%0' 2> nul || (
        echo Right-click on the script and select "Run as administrator".
        pause & exit 1
    )
    exit 0
)

:: --------------------------------------------------------

[2022-02-19 02:08] CaptainFrosty opened #124 "[ENHANCEMENT]: Disable Razer Game Manager Service without breaking Razer Synapse"
FYI: I have Razer Synapse for my mouse and headset, and the service that goes around messing with literally every process to show itself is called `Razer Game Manager`, normally located at `C:\Program Files (x86)\Razer\Razer Services\GMS\GameManagerService.exe`. Unfortunately the bastards made the main Synapse service a dependent of this service, so I don't know what to do about it, I just made a

[2022-02-19 19:44] #123 closed

[2022-02-20 14:45] undergroundwires commented on #110
Hi,

Thanks for your input. I've done some more research about this service. Wikipedia article was simply stating that it circumvents the anonymity provided by VPN and reveals real host IP. It did not have good citation and I have not tested this. But I also found in [official Microsoft documentation](https://docs.microsoft.com/en-us/windows/apps/design/shell/tiles-and-notifications/windows-push-n

[2022-02-20 15:41] undergroundwires commented on #123
Hi @TheMystery28 ,
Happy that you found a solution. Both Windows 10 and Windows 11 comes without this key by default. So we can just delete it to match the default OS behavior, such as:

[code]

You need to run this command as administrator. I will add missing revert behavior to the application in next patch.

[2022-02-20 15:48] undergroundwires commented on #123
Hi @TheMystery28 ,

Both Windows 10 and Windows 11 comes without this key by default. So we can just delete it to match the default OS behavior, such as:

[code]

You need to run this command as administrator. I will add missing revert behavior to the application in next patch.

Can I ask the reason behind your wish to bring the telemetry back? Did this script cause an unexpected behavior for you?

[2022-02-20 17:00] undergroundwires commented on #120
Thanks for your guidance @bardiarajabi , and you're right about the blog post.

This installer looks very fish. Drivers run with such high privileges and should only be installed from official sources, not from a blog post that links to a google docs link that links to a mediafire URL. This is how a lot of malware is being distributed. Out of curiosity I checked it and kaboom, these files are mark

[2022-02-20 17:17] undergroundwires commented on #124
Thanks for the report. Sorry for my stupidity but I don't understand the problem. Could you follow a [bug report template](https://raw.githubusercontent.com/undergroundwires/privacy.sexy/0.11.3/.github/ISSUE_TEMPLATE/1-bug-report-scripts.md) to explain:

1. What did you do?
2. What was expected?
3. What was the actual behavior?
4. How can we reproduce it on a fresh installation? Step-by-step?

[2022-02-20 23:53] CaptainFrosty commented on #124
I guess it's not a bug. Sorry.  I just selected the non script related bug category because it seemed like closest fit.  I thought it was a variation of Game Scanner but it looks like its a similar service doing the same bad behavior for a slightly different purpose (Chroma connect integration rather than "game boosting").

So if you're already targeting Razer I guess it becomes a feature request,

[2022-02-20 23:59] CaptainFrosty commented on #124
A somewhat clever strategy... just make all your  abusive services parents of your necessary services.

[2022-02-21 04:00] bardiarajabi commented on #120
@undergroundwires its definitely false-positive cuz its just eset antivirus which is no longer on top AVs

[2022-02-21 07:57] undergroundwires commented on #118
Hi @chr15t0ph ,

This will eventually be implemented along with support for blocking other URLs in hosts files and other network security improvements. We can expect optimistically end of this year, but can be later. I prioritize stability over new functions as it's not fun stuff stops working on your computer.

FYI: This has been a long-term target. I've been taking small steps towards this goal

[2022-02-21 16:52] undergroundwires commented on #113
Hi @ThiagoRangel7, thank for your constructive feedback.

Pros: You harden your configurations against potential future installations. Cons: You store a few KBs of data. For me the pros weigh out the cons. You may not prefer this which I see.

1. This would work fine if the keys always exist, but even in non LTSC versions keys do not necessarily exist. You can search for `reg delete` in [collectio

[2022-02-23 08:16] brootware opened #126 "Idea to integrate with a cli"
### Problem description
Hello, thank you for the amazing tool. I've been using these scripts on my devices and sandbox machines with a cli-app version I made with standard recommendations. Currently I'm manually looking at the scripts and putting them into functions.

As you can tell, this is quite manual, error prone and time intensive.

### Proposed solution

I'm just wondering if there is some

[2022-02-25 15:09] SonaliBendre commented on #121
@bardiarajabi thank you awesome

[2022-02-25 15:11] #121 closed

[2022-02-25 15:13] SonaliBendre opened #127 "Portable Windows app"
### Problem description

### Proposed solution

I hate setup.exe Please provide portable version
### Alternatives considered

### Additional information
NA

Can create a scoop package

[2022-02-25 16:29] bardiarajabi commented on #121
@SonaliBendre No problem <3

[2022-02-25 18:59] jeffogu opened #128 "[BUG]: Windows Defender Uninstaller Script Doesn't Remove the MsMpEng.exe"
Description
Windows Defender uninstaller script doesn't remove the MsMpEng.exe.
Started it with adminstrator privileges and tried it for a few times again but nothing changed.

OS
Windows 10 x64 Pro Version 21H1

[2022-02-26 00:17] brootware commented on #128
Hi @jeffogu , could you give a more specific on which particular script it is? So we can reproduce. Please use the bug report's instructions on reproduction steps

[2022-02-27 09:43] #120 closed

[2022-02-27 18:54] bardiarajabi commented on #126
@brootware make binaries pls

[2022-02-27 21:59] brootware commented on #126
Hi @bardiarajabi , any reason for considering binaries ?

[2022-02-28 05:20] bardiarajabi commented on #126
@brootware Its hard for some people for compiling on windows.
I Personally have no problem without binaries.

[2022-03-01 00:35] brootware commented on #126
oh there are no compilation process involved though @bardiarajabi . The CLI is just a simple power-shell script on windows that wraps the batch commands from privacy.sexy web app. The user can just invoke the cli just like this without compiling or building.

```.\enforce_windows.ps1 help```

You can check it out the project here. https://github.com/brootware/privacy-sexy-lite

[2022-03-01 03:44] playgithub commented on #102
Reverting `Microsoft AAD Broker Plugin app` doesn't help.

[2022-03-01 19:19] bardiarajabi commented on #126
@brootware Oh yes true.
but posting it on issue tab isnt a good idea you can just e-mail the creator @undergroundwires

[2022-03-04 17:36] adnage19 opened #129 "[BUG/PROBLEM]: No Mapping between account names and Security Id was done"
### Description

I'm getting **No Mapping between account names and Security Id was done** (_Nie zostało wykonane mapowanie między nazwami kont a identyfikatorami zabezpieczeń_ in Polish language in the log) problem in some point of script execution. Here is an example how it looks in the log:

Or:

The script was executed on freshly installed Windows 11 Pro with local account - I haven't changed

[2022-03-05 13:54] undergroundwires commented on #129
Thanks for such a nice bug report @adnage19 .

I tried both failed to reproduce both in Windows 11 21H2 in English version.

The command failing for you is `icacls`. You cannot take ownership of the files. These files are not owned by regular user/administrator as a security mechanism to prevent access. However, we give their ownership to "Administrator" group so we can move them around (backup an

[2022-03-05 13:54] undergroundwires commented on #129
Thanks for such a nice bug report @adnage19 .

I failed to reproduce both in Windows 11 21H2 in English version.

The command failing for you is `icacls`. You cannot take ownership of the files. These files are not owned by regular user/administrator as a security mechanism to prevent access. However, we give their ownership to "Administrator" group so we can move them around (backup and get rid o

[2022-03-05 18:06] undergroundwires commented on #126
Hi @brootware, what a great initiative! This is very useful, I'd want to use it myself. I'm ready to work with you to get rid of the manual work. This is important before gaining recognition because it would allow us to keep scripts updated and therefore as secure as possible.

How about renaming this issue to something like "provide scripts in a machine-readable way?

The challenge here is that b

[2022-03-05 18:10] undergroundwires commented on #127
Hi @SonaliBendre, this was requested at #95 as well so I'm closing it in favor it. I will eventually add this but prioritize some other features/bugs for now. I'll add instructions there about how to solve this if you'd like to send a PR.

[2022-03-05 18:10] #127 closed

[2022-03-05 18:14] undergroundwires commented on #95
I will do it but unclear when. It should not be so hard to get this if you'd like to contribute because electron-builder that builds desktop app supports creating portable version with a [single argument](https://www.electron.build/configuration/win.html).

This can be added by configuring two files. Here you can see how the electron-builder is configured in [vue.config.js](https://github.com/unde

[2022-03-05 18:36] adnage19 commented on #129
Thank you for the reply. You can be right, because I'm getting this value:

_Administratorzy_ is Polish plurar of _Administrator_
Should I try to change language to English?

[2022-03-05 19:13] adnage19 commented on #129
Bingo! I have manually changed the group name and it worked. Now other small bug appeared - despite removing Windows Security GUI app, the app is still visible in All apps list.

[2022-03-06 01:09] brootware commented on #126
Thank you @undergroundwires . Definitely agreed with you on keeping privacy.sexy server less to keep the costs to a minimum. Will be looking through the compilation process of the scripts and brainstorm some ideas around this too and come back.

[2022-03-06 09:34] undergroundwires commented on #129
Thank you for you quick feedback @adnage19 . I'll fix this and release a patch in 1-2 days. "BUILTIN/Administrator" is hardcoded and expected which works in many languages but somehow Polish group seems to be different. I will change this to not be hardcoded anymore that will fix your issue.

Could you create another bug report for the remaining shortcut using the template? A screenshot would be g

[2022-03-06 09:37] undergroundwires commented on #129
Thank you for you quick feedback @adnage19 . I'll fix this and release a patch in 1-2 days. "Administrator" is hardcoded and "BUILTIN/Administrators" was expected which works in many languages but somehow Polish group seems to be different. I think changing "system" language and UI language are different things in UI and you could change system language to English. But this is a problem from priva

[2022-03-06 12:27] undergroundwires commented on #126
I think the easiest way would be to create a JSON file (`application.json`) with all necessary information that you can parse further. To do this, we need to move script compilation from client machine to compile-time. It would include all compiled scripts for every platform.

### Implementation

Creation of `application.json` can be handled as a webpack step as part of compilation. Webpack way wo

[2022-03-06 12:30] undergroundwires commented on #126
I think the easiest way would be to create a JSON file (`application.json`) with all necessary information that you can parse further. To do this, we need to move script compilation from client machine to compile-time. It would include all compiled scripts for every platform.

### Implementation

Creation of `application.json` can be handled as a webpack step as part of compilation. Webpack way wo

[2022-03-06 12:36] undergroundwires commented on #121
@bardiarajabi I see that some of these are not recommended at all, but most of them are "standard" to all users. Maybe this is too much then? Would you recommend to move them to "strict"?

[2022-03-06 14:21] whinix opened #131 "[BUG]: All cloud services can't sync files"
After running the script all my cloud sync services stopped working.

I'm on Windows 10, here's the script: https://rentry.co/cxtfu

I have already tried to revert the deny app access (although my cloud apps do not come from MS Store), deny online content in explorer and NTP server change.

Both my dropbox and MEGA Sync are still dead.

[2022-03-06 15:12] whinix commented on #131
Reverted windows DRM internet access in registry, still doesn't work

[2022-03-06 16:36] undergroundwires commented on #131
Hi @whinix , thanks for the report. If we can't reproduce this, we can't help you.

I need more details. You can refer to [issue template](https://raw.githubusercontent.com/undergroundwires/privacy.sexy/0.11.3/.github/ISSUE_TEMPLATE/1-bug-report-scripts.md) as a guide for what more information is needed. Good idea to provide steps from scratch including versions of software used and screenshots wh

[2022-03-06 16:47] undergroundwires commented on #124
Now I understand, thank you for the clarification. `GameManagerService` is intrusive but disabling it breaks Razer functionality which is main synapse software. So this about how we can get rid of it but keeping the synapse still functioning.

This needs a dedicated work of a volunteer. I also use Razer but do not longer install those and only run Windows for gaming. In Linux, these kind of servic

[2022-03-06 17:19] undergroundwires commented on #100
Closing this because the behavior is now documented and script causing it is unrecommended.

[2022-03-06 17:19] #100 closed

[2022-03-06 17:23] whinix commented on #131
What do you need in addition to the script file i posted ? One of the tweaks must interfere with the way file syncing works with cloud apps. Any ideas what could that be ?

[2022-03-06 17:27] bardiarajabi commented on #121
@undergroundwires
![fr2kjp8fa4h21](https://user-images.githubusercontent.com/69072090/156934253-373665f9-6fa1-4b02-b1ee-ee80c205ca43.jpg)
I use strict settings on my gaming-only machine.
I would not recommend these settings to anyone.
P.S.: I use disable windows update to fix my dad's pc. IDK if it's that strict or not.

[2022-03-06 17:39] whinix commented on #131
I have installed iCloud for Windows to check if Dropbox/Mega was a coincidence or a server side issue but it doesn't work either

[2022-03-06 17:58] whinix commented on #131
I have reverted all the following categories:

- Meltdown and Spectre Protection
- Increase Cryptography on ISS

That fixed the issue.

[2022-03-06 17:58] #131 closed

[2022-03-06 18:21] undergroundwires commented on #131
Happy that you solved it 🥳

Thank you for the report back.

If you could apply them back and verify that the apps break would be nice contribution the community. Because this way we can for sure know that it's one of these scripts is root cause and isolate to problem to figure out which one is causing it. As I cannot reproduce your environment (or don't know how to), I cannot test it myself. If we

[2022-03-06 18:45] whinix commented on #131
Alright, so i re-applied Meltdown and Spectre Protection and restarted - no issues. Then i ticked all tweaks from "Increase Cryptography on ISS" except for disabling SHA1/MD5. The result is that MEGA Sync works but Dropbox doesn't.

So it looks like cloud services are dependent on some of the disabled encryption and MEGA needs either SHA1/MD5 for file comparing/indexing file versions.

Enabling al

[2022-03-06 19:01] undergroundwires commented on #131
Thank you a lot for your insights. I thought they were server only configurations. A quick research show me that they're not. So even "IIS" naming here is wrong. They are not ISS only. They may be the issue with other bugs reported before as well. I will rename this category completely.

[2022-03-06 22:01] undergroundwires commented on #73
This is golden. I have not tested this against residual files because I was never be able to produce this. But we should still add this functionality in privacy.sexy.

The script you included calls `install_wim_tweak.exe` with `Microsoft-Windows-Internet-Browser-Package`. Someone shared source code code for [`install_wim_tweak.exe`](https://github.com/shiitake/win6x_registry_tweak/blob/master/Prog

[2022-03-06 22:02] undergroundwires commented on #73
This is golden. I have not tested this against residual files because I was never be able to produce this. But we should still add this functionality in privacy.sexy.

The script you included calls `install_wim_tweak.exe` with `Microsoft-Windows-Internet-Browser-Package`. Someone shared source code code for [`install_wim_tweak.exe`](https://github.com/shiitake/win6x_registry_tweak/blob/master/Prog

[2022-03-07 08:16] bardiarajabi commented on #73
@undergroundwires Yes only legacy windows components.
btw I found it on a youtube channel called endermanch which is advanced in windows tips/tricks.
Channel: https://www.youtube.com/channel/UCWb-66XSFCV5vgKEbl22R6Q
Video: https://youtu.be/g1dMF-W0d04?t=183
P.S.: At the time that he uploaded the video it was the only legacy edge, not chromium.

[2022-03-07 21:37] adnage19 opened #132 "[BUG]: Windows Security app icon still present in All apps"
### Description

After removing Windows Defender and Windows Security GUI, there is still the icon left in apps menu

### OS

Windows 11 Pro 22000.527

### Reproduction steps

### Scripts

### Screenshots

![Screenshot 2022-03-06 173637](https://user-images.githubusercontent.com/40204285/157121815-aecfcdd3-c4ef-48c5-a87b-7e8e76505b25.png)
![Screenshot 2022-03-06 173721](https://user-images.githubu

[2022-03-08 04:34] brootware commented on #126
Thank you for the detailed explanation of the implementation @undergroundwires . I really appreciate how it's mimicking an endpoint to be called by clients.

As I'm a bit rusty with web frameworks please bear with me as I try to recap this.

If I understand correctly, **`data-compiler`** will be a custom webpack plugin class that needs to be written to achieve the 2 options you have provided.

Fro

[2022-03-08 10:13] undergroundwires commented on #132
Thanks @adnage19 , we also have #73 about Edge icon standing still. There's a suggestion there, it could help us fix it as well. I think as starting point we need to identify package IDs for defender, and do registry tweak to set their visibility to "false".

A test we can do:
1. Identifying package IDs for Defender (`dism /online /get-packages`)
2. Run `install_wim_tweak.exe` shared in #73 agains

[2022-03-08 17:07] Prajwal-Koirala opened #133 "Thank you for this tool."
Thank you for this tool, it's super useful, found some bugs, but I am guessing it will be ironed out overtime.
- Prajwal

[2022-03-09 07:24] blackcrack opened #134 "Systemrequirements ; Windows 10,11 ..."
### Problem description

In the Readme.md is not shown a Systemrequirement like :
Requirements: Windows 2000,  Windows XP, Windows 10, Windows 11, ... ;)

### Proposed solution

add at the Readme.md
Requirements: Windows 10, Windows 11

### Alternatives considered

nope
### Additional information

nope...

--
a wonderful day :)
best

[2022-03-09 08:16] undergroundwires commented on #134
Thank you for your idea and time put into reporting this @blackcrack. We should fix this.

Do you mean minimum requirements to run the desktop application or run the generated scripts?

For system requirements to run the app we can link to [Electron supported platforms](https://www.electronjs.org/docs/latest/tutorial/support#supported-platforms) or copy paste from there.

[2022-03-09 10:47] blackcrack commented on #134
yes, minimum, like this.. take a look :
https://github.com/sandboxie-plus/Sandboxie

and a changelog is definitely not wrong ;)

thank you for resonance and appreciation

you can close it, if done :)
best regards

[2022-03-09 17:33] undergroundwires commented on #134
Thanks for the example. It is a very clean way of providing download links.

FYI, this would like:

- **Windows**: Windows 7 and later, 32-bit or 64-bit.
- **Linux**: Ubuntu 14.04, Fedora 24, Debian 8 and later.
- **macOS**: macOS 10.11 and later.

I think it would be nice to create like `privacy.sexy/download` page that GitHub page that would link to. It would then have all this information. It r

[2022-03-09 17:35] undergroundwires commented on #133
@Prajwal-Koirala , thank you a lot ❤️ Happy that you liked it and found it useful. It will get better with cooler versions in each version and I wish to find more time to put into it.

I'd love to here the bugs you found. The bugs are typically prioritized higher.

Feel free to create new issues for your ideas or bugs mentioned so we can solve them.

[2022-03-09 17:57] #133 closed

[2022-03-09 18:34] blackcrack commented on #134
if a program itself is so convincing and good, you don't need a huge page ..
the Info about the program clean and so far full in the Readme.md
and the Release page linking as download is pretty well as enough you know..
you see the Programpage from David Xanatos..  and this is totally enoug.. the good thing is,
if the User Watch your Programmpage is there a possible for Custom Notification..
and i

[2022-03-12 07:58] bardiarajabi commented on #110
I also experienced this problem too!
Hoping that this problem gonna fixed!
P.S.: @Permanently @undergroundwires I googled this problem on google but it was just SFC /scannow and dism /online /cleanup-image /restorehealth (that's common)

[2022-03-12 11:32] IB-IN commented on #41
OLD Person who supported in enhancement is back 🥇

[2022-03-12 15:57] undergroundwires commented on #41
Welcome back brother, you're first class citizen here 😀

[2022-03-12 19:22] undergroundwires commented on #112
Hi @conorgil , thanks for the issue. You provided great context with nice references. I'll add those to documentation.

I've done been researching about it but could not find any official docs or any other application that have found a way to effectively disable this. After trial and error I found out the keys that solves this issues manually. I will commit a new script for this, recommend it in "

[2022-03-14 19:37] bardiarajabi commented on #134
@undergroundwires What about arch-based Linux distros?😊

[2022-03-14 19:39] bardiarajabi commented on #132
@undergroundwires As I know `install_wim_tweak.exe` won't do this.
I tried it and failed...

[2022-03-14 19:42] bardiarajabi commented on #132
Also, I think that I found the original file source:
https://github.com/shiitake/win6x_registry_tweak

[2022-03-14 19:49] bardiarajabi commented on #128
@jeffogu I don't think that it is supposed to [do that](https://0bin.net/paste/ZEpehZgO#PRorVhN3tynm0zZJgJni59CRWWkbuO2wVnd9rKYISRf)
So the flag should be a feature request if I'm not wrong.

[2022-03-15 05:12] blackcrack commented on #134
closebot

[2022-03-15 05:12] #134 closed

[2022-03-19 03:19] Tharki-God commented on #73
doesnt work

[2022-03-23 13:18] barunintune commented on #47
What we can do if device not have internet connection. Like offline enablement

[2022-03-23 22:46] Tharki-God commented on #73
shell:appsfolder is where the shortcut is. and UWP apps gets added here automatically from what i got to know and please find a working solution the problem. the blank shortcut gives me anxiety

[2022-03-24 18:46] bardiarajabi commented on #73
@Tharki-God Can a normal or admin user delete the shortcut?

[2022-03-24 19:07] Tharki-God commented on #73
no they cant, i am using the in-built admin account as my daily driver and i cant. upon searching you cant edit that location. uwp apps installed get shortcut there automatically and exe files with the help of traditional start menu folder. so there must be some way to remove edge from installed list.

[2022-03-25 17:25] bardiarajabi commented on #73
So it can't be helped.

[2022-03-28 03:52] gitthangbaby opened #137 "Adobe Acrobat DC improvements"
### OS

Windows 10

### Name

Adobe Acrobat tweaks, making it more offline and basic

### Script code

:: Disable cloud dialogs, just simple Ctrl-O and Ctrl-S Windows dialogs (General\Basic Tools):

reg add "HKEY_CURRENT_USER\SOFTWARE\Adobe\Acrobat Reader\DC\AVGeneral" /v "bToggleCustomOpenExperience" /t REG_DWORD /d 1 /f
reg add "HKEY_CURRENT_USER\SOFTWARE\Adobe\Acrobat Reader\DC\AVGeneral" /v "b

[2022-03-28 11:56] bardiarajabi commented on #137
Make a pull request.
Also, provide a revert script and recommendation level.

[2022-03-28 11:58] bardiarajabi commented on #73
@Tharki-God Your solution was good if the trusted installer has access to that folder.

[2022-04-06 15:48] karam72 opened #138 "More comments would be great"
First of all tank you for this great application :)

### Problem description
I was searching to disable microphone driver from command line for my work laptop. Because I think IT is listening to us at home. I found a script on your project: "Deny app access to microphone". But I don't know anything about it. I research a little bit. I found this: https://docs.microsoft.com/en-us/windows/client-man

[2022-04-08 02:16] playgithub commented on #89
Windows 10 21H2 Build 19044.1586
privacy.sexy 0.11.4 (option Standard)

<img width="804" alt="installer_problem" src="https://user-images.githubusercontent.com/3665590/162349782-4a8fe8dd-1d64-4b89-84f3-79a856683e2e.png">

[2022-04-10 19:25] kiot389 commented on #115
@CaptainFrosty I'm just getting started with these scripts and broke win sandbox, so this post was helpful. I have a few low-level wsl/sandbox/hyper-v articles you might like.
https://research.checkpoint.com/2021/playing-in-the-windows-sandbox/
https://www.thewindowsclub.com/how-to-use-windows-sandbox-and-vmware-or-virtualbox-together
https://techcommunity.microsoft.com/t5/windows-kernel-internals

[2022-04-13 15:53] f-x1-1 opened #139 "[BUG]: Disabled Windows Insider Programme"
### Description
The script has disabled windows insider programme, the page is empty.  Unable to use windows insider updates.

### OS
OS Build: 22000.613

### Reproduction steps
Open the windows insider programme page
Notice the page is empty

### Expected Behaviour
Display windows insider build options

**Is there any reverse script?**

[2022-04-15 09:22] affector commented on #139
![insider](https://user-images.githubusercontent.com/103291122/163553146-52db51b7-83ba-4dd4-977e-b38a2fd96c4b.jpeg)
next time use the search bar

[2022-04-15 14:11] #139 closed

[2022-04-17 00:52] AzrailxZain commented on #104
@undergroundwires Also an update for you:
Had a windows update yesterday (now W10 21H2). The disable scripts do not turn off everything. "Antimalware Executable" keeps running and takes like 50% of my CPU.
Would you have time for a new update on the scripts?

[2022-04-26 01:18] CaptainFrosty commented on #115
@undergroundwires To add to what I said back in January it seems Windows 11 hides "hidden" adapters in the adapter settings which is very irritating. I don't know any method of forcing it. So my case of the missing virtual adapters may have just been a UI change. I probably didn't check in `netsh` before I posted the original comments...dumb move

[2022-04-26 01:19] CaptainFrosty commented on #115
It's never shown everything, but there were considerably more types displayed in 10.

[2022-04-26 01:22] CaptainFrosty commented on #115
![image](https://user-images.githubusercontent.com/8523498/165200112-061f9d87-078e-453c-ad62-61dc25e24f87.png)

I have 12 adapters total, and these are the 4 for which I get the privilege of GUI configuration now

[2022-04-26 01:52] CaptainFrosty commented on #115
Thanks a bunch, I can always use links to good documentation. What is the problem? I know more now so I should clarify my previous information. You don't need Hyper-V to run Sandbox because the needed Hyper-V components are included in the Windows Sandbox feature package.

[2022-04-26 02:03] CaptainFrosty commented on #115
There are reports that adding or removing the Hyper-V feature package can fix Sandbox errors though, but I wouldn't enable it unless troubleshooting or if it's needed for something else.

[2022-05-02 03:36] playgithub commented on #89
By allowing the current user to modify and write to `C:\Windows\temp`, the problem is solved.
Which script causes the problem?

[2022-05-06 08:53] kiot389 opened #140 "Enable Login for Windows Universal Apps"
### Description

How can you enable Microsoft account logins on UWP apps?
ProcMon shows me what keys are causing it.
I can't find which reverse script will let me login with apps like OneNote for Windows 10.

### OS
Windows 11 Pro 22000.527

### Reproduction steps

The app splash screen launches and asks to pick an account to sign in with.
Personal Microsoft account, Work or school account.

I ran

[2022-05-06 23:09] kiot389 commented on #140
https://docs.microsoft.com/en-us/office365/troubleshoot/administration/disabling-adal-wam-not-recommended
-I'm going to run through the resolve sign-in steps to try to find what's up with this procmon activity when it doesn't login.
Perhaps this set of registry keys is misleading.

The TechNet article is really good.
"Disabling ADAL or WAM authentication as a solution to fix sign-in or activation

[2022-05-28 19:06] dennyamarojr commented on #140
You disable/uninstall the following components

Some UWP apps required the Advertising.Xaml

:: ----------------------------------------------------------
:: ----------------Microsoft Advertising app-----------------
:: ----------------------------------------------------------
echo --- Microsoft Advertising app
PowerShell -ExecutionPolicy Unrestricted -Command "Get-AppxPackage 'Microsoft.Advertis

[2022-06-07 18:37] wgetgoose opened #142 "[BUG]: "Standard" profile limits Winget CLI Functionality"
### Description

When using the standard profile, the functionality for "winget" cli's repo is removed. This is possibly due to a blockage of the `https://winget.azureedge.net/cache` URL.

### OS
Windows 11 Home- Build 22000.708

### Reproduction steps
Use standard profile on privacy.sexy, and attempt to run `winget upgrade --all` or `winget source reset --force`. The repositories will not be able

[2022-06-13 20:43] kiot389 commented on #140
Thank You, it fixed the issue. Night Light & O365 Apps Sign-In are working.

[2022-06-13 20:44] #140 closed

[2022-06-14 05:48] couleurm opened #143 "Cleaner code ideas"
### Problem description

Repetitive and very long code for disabling services with PowerShell

### Proposed solution

* Batch functions, add at the end of the file if the user ticked any script that use it so it can be `CALL`ed

* Switch to using PowerShell using a batchfile that [opens posh to run itself](https://github.com/couleur-tweak-tips/utils/blob/main/Miscellaneous/CTT%20Upscaler.cmd#L1-L3

[2022-06-26 13:37] npapatheodorou opened #147 "Load a saved script"
Privacy.Sexy is a great toolbox to remove bloatware from the majority of os. The only drawback that I found is that when a user saves the script he can only runs it. That would be really helpful if the user could load a saved script and make modifications on it e.g. revert a change. From code perspective each selection should correspond to a piece of code. If this code is detected on the loaded sc

[2022-06-27 23:27] arman-ku opened #148 "[BUG]: Win 11 Disabling Defender Firewall services completely breaks start menu and windows explorer search"
After running the script and rebooting, i was unable to open the startmenu. When pressing the start menu key it would sometimes open up after a long waiting time but then close on its own after a few seconds.
Also, typing in the search field in windows explorer was not possible anymore. it wouldnt do anything.
After clicking the field a cmd window would sometimes pop up for a split second.

i trie

[2022-06-27 23:37] arman-ku opened #149 "[BUG]: Win 11 "takeown /d y" parameter is language dependent"
win 11 10.0.22000.778

some options use `takeown` with `/d y` parameters. The y is language dependent however.
For example, i installed a german build, **so the "y" would be a "j" for "ja".**

Code example:

will throw:

`Error: Invalid syntax. The 'y' value cannot be used for the '/d' option.`

[2022-06-27 23:43] arman-ku commented on #148
(Also, just a side note, Add-AppxPackage will not work without the services disabled. Maybe there is a way to circumvent that, i haven't looked into it)

[2022-06-30 09:10] targetsmallx opened #150 "Feature addition to support linux"
### Problem description

### Proposed solution

### Alternatives considered

### Additional information

[2022-06-30 13:51] theRoboxx opened #151 "[BUG]: Windows 10 Update Error 0x800f0988"
### Description

I'm not able to install the following update on my PC `2022-06 Cumulative Update Preview for Windows 10 Version 21H2 for x64-based Systems (KB5014666)` and receive the update error code 0x800f0988. This problem exists since I applied the "standard" rules from the `privacy.sexy-Setup-0.11.4`.
After I tried many potential fixes from online sources (e.g. https://www.techpout.com/how-

[2022-06-30 21:50] nulledone opened #152 "[BUG]: Docker fails to start after using script"
Windows 10 LTSC 2021 21H2

![1](https://user-images.githubusercontent.com/29547468/176780982-bab936b4-d5b7-4659-a5b1-82bc8ae7bb0e.png)

This is an issue directly related to WSL in Windows, something breaks wsl.

Strict script is used, alongside defender tab is full checked. I'm doing more research about how to reproduce.

[2022-06-30 22:47] nulledone commented on #152
Strict script does not cause the issue, but certainly some services in defender tab do.

[2022-06-30 22:56] nulledone commented on #152
Using revert on services/drivers solve the issue but don't know which one causes on the first place.

[defender-revert-services-drivers.txt](https://github.com/undergroundwires/privacy.sexy/files/9023889/defender-revert-services-drivers.txt)

[2022-07-02 03:18] nulledone opened #153 "[Request] [W10] Some WinaeroTweaker options"
File explorer starting folder switch to This PC
Disable Downloads blocking
Activate Windows Photo Viewer (Im unsure if it is already implemented)

[2022-07-02 03:59] playgithub opened #154 "[BUG]: Failed to uninstall Edge"
### Env
* OS: Windows 11 21H2 (OS Build 22000.739)
* Edge: 103.0.1264.44
* privacy.sexy: 0.11.4

### Options
![image](https://user-images.githubusercontent.com/3665590/176985688-8175c3dc-062c-446a-a7de-b892de9a145c.png)

### Problem
After applying the scripts, edge still works.

[2022-07-02 10:50] theRoboxx commented on #154
It doesn't work fo me either:
Edition Windows 10 Pro
Version 21H2
OS build 19044.1766

[2022-07-07 23:22] kjarkur opened #155 "Icon Set Upgrade"
![icon](https://user-images.githubusercontent.com/108679036/177886316-865ceb93-bc32-4eec-9603-72257cccc6e9.jpg)

This isn't a high priority feature.

I just wanted to create this feature for tracking purposes.

There is a slight UI issue with "Dark Mode" on Windows, for example.

(It's a dark colored icon against a dark background).

In general, the icon set can use an upgrade.

I may take whack a

[2022-07-12 15:30] rcmaehl opened #156 "[Improvement] Fix broken functionality from Edge Removal. Move Uninstall Edge -> Standard"
### OS

Windows

### Name

Fix Broken Functionality From Edge Removal

### Script code

https://github.com/AveYo/fox/blob/main/Edge_Removal.bat#L79

### Revert code

https://github.com/AveYo/fox/blob/main/Edge_Removal.bat#L98

### Suggested category

Remove Bloatware

### Suggested recommendation level

STANDARD

### Additional documentation/references

Most edge removal scripts break search funct

[2022-07-15 13:55] DarthJahus commented on #152
Writing here the French error message for better discoverability. Had a hard time finding this solution, so here it is:

**Le mappeur de point final n'a plus de point final disponible** - erreur WSL

[2022-07-16 18:48] hugoamvieira commented on #102
I used a modified strict script on a fresh install of W11 a few days ago and I'm having this same problem.
I also did not have access to the calendar when clicking on the date and time in the taskbar, however reverting "Windows Push Notification Service" under "Disable OS Services" has restored that.

Whenever I click on the Sound/Network icons in the taskbar, after a few seconds _something_ shows

[2022-07-17 01:46] playgithub commented on #102
@hugoamvieira
A recent test result several days ago:
* Standard script, no problem
* Uninstall Edge, problem
*
I doubt that it depends on the base of edge.

[2022-08-12 10:39] j1elo opened #158 "[Feature] Tree view > Expand All || See differences between Standard and Strict"
[privacy.sexy](https://github.com/undergroundwires/privacy.sexy) is amazing. Thank you for coming up with this idea and implementing it! This is the wet dream of the sysadmin-wannabe that we all have within ourselves :-D

### Problem description

I want to alternate between "Standard" and "Strict", to see the differences. But for that, I'd need to be able to expand all nodes first. An "expand all"

[2022-08-12 13:35] ChaseCares opened #159 "[BUG]: Direct downloads out of sync with current version"
### Description

### Reproduction steps
1. Go to [README.md](https://github.com/undergroundwires/privacy.sexy#readme)
2. Click on one of the direct downloads.

### Expected behavior

[2022-08-12 14:20] ChaseCares opened #160 "[BUG]: Error in tooltip for the Strict preset"
### Description

### Reproduction steps

### Expected behavior

### Screenshots
![image](https://user-images.githubusercontent.com/13863948/184370185-64813127-37a3-44ee-8dcf-de4751b60f5e.png)

### Distribution

### Additional context

[2022-08-15 15:19] rpdelaney opened #164 "[BUG]: shellcheck.net report on output script"
### Description

I checked every box and ran the result through [shellcheck](https://shellcheck.net). I got some errors that are worth addressing.

### OS

[code]

### Reproduction steps

Check all the boxes on privacy.sexy. Copy-paste the script into shellcheck.net.

### Scripts

<details><summary>privacy.sexy script</summary>

[code]
</details>

<details><summary>shellcheck output</summary>

[co

[2022-08-30 14:37] RealTengo opened #166 "[BUG]: Network & Internet Problem after using the script"
### Description : it does sth related to windows settings and after using the script you cant open the Net settings from taskbar

### OS : Windows 10 2021 LTSC ( 19044.1288 )

### Screenshots : [Here](https://prnt.sc/3AwNyddX_9BX)

### Additional information : it doesnt happen on older versions of win 10 because the open network settings in control panel but on newer ones it breaks sth related win